<title translate> titles.update_material </title>

<section class="min-h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card ">
          <div class="logo">
            <span><img src="assets/images/gest.png" alt="Sample photo" height="60px" width="100px" /></span>

            <div class="card-title">
              <span class="title" translate> titles.update_material </span>
            </div>
          </div>
          <form [formGroup]="formupdateMaterials" (ngSubmit)="update()">
            <div class="row g-0">
              <div class="col-xl-6  d-xl-block">
                <div class="card-body p-md-5 text-black">
                  <div class="form-outline">
                    <label class="form-label" translate> input.titles.title </label>

                    <input type="text" class="form-control form-control-lg" formControlName="name"
                      placeholder="{{'input.msg.material'|translate}}" />
                    <!--Error name-->
                    <p *ngIf="(name?.touched|| name?.dirty ) && !name?.valid" class="ErrorMsg" translate>
                      errors.req_error
                    </p>
                    <p *ngIf="name?.errors?.['pattern']" class="ErrorMsg" translate>
                      errors.alph_2error
                    </p>
                    <!----------->
                  </div>

                  <div class="form-outline">
                    <label class="form-label" translate> status.title</label>
                    <select formControlName="status" class="form-select">
                      <option value="En panne" translate> status.broken </option>
                      <option value="En bonne condition" translate>
                        status.in_progress
                      </option>
                    </select>
                    <!--Error name-->
                    <p *ngIf="(status?.touched|| status?.dirty ) && !(status?.valid) " class="ErrorMsg" translate>
                      errors.req_error</p>
                    <!----------->

                  </div>
                  <div class="form-outline">
                    <label class="form-label" translate> input.titles.category</label>
                      <select formControlName="category" class="form-select">

<option *ngFor="let category of categoryList" [value]="category.key">{{category.value}}</option>
                      </select>
                      <!--Error name-->
                      <p *ngIf="(category?.touched|| category?.dirty ) && !(category?.valid) "class="ErrorMsg" translate> errors.req_error</p>
                      <!----------->

                  </div>
                  <!--     <div class="form-outline">
                 <label class="form-label" for="image-gallery">Choisir une photo</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="image"
                        accept="image/*" />
                    </div>
                  </div>-->
                  <div class="form-outline">
                    <label class="form-label" translate>input.titles.purchase_date</label>

                    <input type="date" class="form-control form-control-lg" formControlName="dateOfPurshase" />
                    <!--Error datePurshase-->
                    <p *ngIf="(dateOfPurshase?.touched|| dateOfPurshase?.dirty ) && !dateOfPurshase?.valid"
                      class="ErrorMsg" translate>
                      errors.req_error</p>
                    <!------------------>
                  </div>
                  <div class="form-outline">
                    <label class="form-label" translate> input.titles.description</label>

                    <textarea formControlName="description" class="form-control form-control-lg"
                      placeholder="{{'input.msg.designation'|translate}}" rows="6"></textarea>
                  </div>
                  <!--Error Description-->
                  <p *ngIf="(description?.touched|| description?.dirty ) && !description?.valid" class="ErrorMsg"
                    translate>
                    errors.req_error</p>
                  <p *ngIf="description?.errors?.['pattern']" class="ErrorMsg" translate>
                    errors.alph_2error</p>
                  <!----------->
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">


                  <fieldset>
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="pays" translate> location.country </label>
                          <input name="value" type="text" [readonly]="true" formControlName="country"
                            class="form-control form-control-lg" />
                          <!--Country errors-->
                          <p class="ErrorMsg" *ngIf="
                              !counrty?.valid &&
                              (counrty?.dirty || counrty?.touched)
                            " translate>
                            errors.req_error
                          </p>

                          <!------------>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="state" translate>
                            location.governorate</label> <br>

                          <select formControlName="state" (change)="loadCities()">
                            <option *ngFor="let item of states" [value]="item">{{item}}</option>
                          </select>

                          <!--Zip code errors-->
                          <p class="ErrorMsg" *ngIf="
                              !state?.valid && (state?.dirty || state?.touched)
                            " translate>
                            errors.req_error
                          </p>

                          <!------------>
                        </div>

                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" translate> location.city</label><br>
                          <select formControlName="city">
                            <option *ngFor="let item of cities" [value]="item">{{item}}</option>
                          </select>

                          <!--Ville errors-->
                          <p class="ErrorMsg" *ngIf="
                              !city?.valid && (city?.dirty || city?.touched)
                            " translate>
                            errors.req_error
                          </p>

                          <!------------>
                        </div>

                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="code postal" translate>location.postal_code</label>

                          <input type="text" formControlName="zipCode"
                            placeholder="{{'location.postal_code'|translate}}" class="form-control form-control-lg" />

                          <!--Zip code errors-->
                          <p class="ErrorMsg" *ngIf="
                              !zipCode?.valid &&
                              (zipCode?.dirty || zipCode?.touched)
                            " translate>
                            errors.req_error
                          </p>

                          <!------------>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="Rue" translate> location.street </label>
                          <input type="text" formControlName="street" placeholder="{{'location.street'|translate}}"
                            class="form-control form-control-lg" />
                          <!--Street errors-->
                          <p class="ErrorMsg" *ngIf="
                              !street?.valid &&
                              (street?.dirty || street?.touched)
                            " translate>
                            errors.req_error
                          </p>

                          <!------------>
                        </div>
                      </div>
                    </div>
                  </fieldset>

                  <div class="d-flex justify-content-end pt-3" (mouseover)="check()">
                    <button class="bn632-hover bn24" type="submit" role="button" [disabled]="!formupdateMaterials.valid"
                      translate> buttons.edit </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
