

<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">{{team.name}}</div>

		<article class="postcard dark">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="
        https://st.depositphotos.com/1154952/3949/i/600/depositphotos_39491135-stock-photo-hand-of-architect-working-on.jpg?fbclid=IwAR3bKwuP2rP6iBnTAQlmThDXfJLse-bcVdpFA3uZTaX7sA8jkY-TZypeVrc" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">
<i class="fa fa-user-cog"></i>
          {{team.manager.getfirstName()}}  {{team.manager.getlastNamme()}} : chef d'équipe </a></h1>
				<div class="postcard__subtitle small">
				<i class="fa fa-phone">{{team.manager.getTel()}} </i>
				</div>
				<div class="postcard__bar"></div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-info-circle"></i>Afficher details</li>

				</ul>
			</div>
		</article>

    <article class="postcard light">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="
        https://images.unsplash.com/photo-1593436878396-e943a3cac98f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#"><i class="fa fa-user"></i>Model membre</a></h1>
				<div class="postcard__subtitle small">
          <i class="fa fa-phone"></i>21524668
				</div>
				<div class="postcard__bar"></div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-info-circle"></i>Afficher details</li>
				</ul>
			</div>
		</article>

 <article class="postcard light" *ngFor="let item of team.members"  >
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="
        https://images.unsplash.com/photo-1593436878396-e943a3cac98f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#"><i class="fa fa-user"></i>{{item.getfirstName()}} {{item.getlastNamme()}}</a></h1>
				<div class="postcard__subtitle small">

						<i class="fa fa-phone"></i>{{item.getTel()}}

				</div>
				<div class="postcard__bar"></div>
				<ul class="postcard__tagbox">
					<li class="tag__item"> <a [routerLink]="['/dashboard/customer/customerProfil',item.getId()]" routerLinkActive="active"><i class="fas fa-info-circle"></i>Afficher details</a> </li>
				</ul>
			</div>
		</article>


	</div>
</section>
