select
{
  background: rgb(230,135,246);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(231, 149, 252) 100%);
  border-radius: 15px 50px 30px;

}
 option{
  border-radius: 15px 50px;

}
option:hover{
  color: blueviolet;
}
.container
{
  width: 50%;
}
input[type="radio"]+label{
  background: rgb(212,143,244);
  background: radial-gradient(circle, rgb(234, 189, 255) 0%, rgb(255, 255, 255) 100%);
  border-radius: 15px 50px 30px;
  margin-left: 10px;
  color: black;
  box-shadow: rgb(91, 17, 144)

}
#order{

  border-radius: 15px 50px 30px;
  margin-left: 10px;
  color: black;

}
input[type="radio"]:checked+label{

  box-shadow:10px 5px rgb(210, 165, 231)

}
 .btn-primary{
  background: rgb(230,135,246);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(231, 149, 252) 100%);
  border-radius: 15px 50px 30px;
  color: rgb(31, 8, 46);
}
li{
  cursor: pointer;
}
li:hover{
  background-color: blueviolet;
  color: white;
}

