
 option{
  border-radius: 15px 50px;

}
option:hover{
  color: blueviolet;
}
.container
{
  width: 50%;
}
input[type="radio"]+label{
  background: rgb(212,143,244);
  background: radial-gradient(circle, rgb(234, 189, 255) 0%, rgb(255, 255, 255) 100%);
  border-radius: 15px 50px 30px;
  margin-left: 10px;
  color: black;
  box-shadow: rgb(91, 17, 144)

}
#order{

  border-radius: 15px 50px 30px;
  margin-left: 10px;
  color: black;

}
input[type="radio"]:checked+label{

  box-shadow:10px 5px rgb(210, 165, 231)

}
li{
  cursor: pointer;
}
li:hover{
  background-color: blueviolet;
  color: white;
}
/*-----------------------------------------------------------*/
.example {
  margin: 3rem auto;
  text-align: center;
}
.example > .text {
  display: inline-block;
  position: relative;
  padding: 1rem 3rem;
  transform: translateY(-0.5rem);
  text-transform: uppercase;
  cursor: pointer;
  perspective: 10rem;
}
.example > .text:first-of-type {
  padding-left: 4rem;
}
.example > .text:first-of-type::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(10deg) translateX(calc(2rem - 3px));
  z-index: -1;
  background: #ffffff;
}
.example > .text:last-of-type {
  padding-right: 4rem;
}
.example > .text:last-of-type::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-10deg) translateX(calc(-1rem - 6px));
  z-index: -1;
  background: #ffffff;
}
.example > .counter {
  display: inline-block;
  position: relative;
  padding: .5rem 2rem;
}
.example > .counter > .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #6a558e;
  border-radius: .7rem;
}
.example > .counter > .background::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: -1;
  border-radius: 1rem;
  border: solid #ffffff 4px;
  background: #6a558e;
}
.example > .counter > .background::after {
  content: '';
  width: 80%;
  padding-top: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: solid #fff 4px;
  background: #70558e;
}
.example > .counter > .number {
  position: relative;
  display: inline-block;
  z-index: 1;
  transform: translateY(-2px);
  color: #ffffff;
}
.example > .counter > .number:first-of-type {
  font-size: 2rem;
}
.example > .counter > .number:first-of-type::after {
  content: '/';
  display: inline-block;
  padding: 0 .2rem;
  font-size: 2.5rem;
}
.example > .counter > .number:last-of-type {
  font-size: 1rem;
  transform: translateY(-0.8rem) translateX(-0.2rem);
}
@media screen and (max-width: 600px) {
  .example > .text {
    display: block;
 }
  .example > .text:first-of-type {
    margin-bottom: 3rem;
 }
  .example > .text:last-of-type {
    margin-top: 4rem;
 }
}
#open{
  top : 50%;
  right : 0;
  position: fixed;
  }
