<title translate> titles.profil</title>
<section class="min-h-100">
  <!------ Include the above in your HEAD tag ---------->

  <div class="container emp-profile">
    <form method="post">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img" >

            <div class="file btn btn-lg btn-primary"  *ngIf="isProfilUser()"translate>

            </div>


          </div>
        </div>

        <div class="col-md-6">
          <div class="profile-head">
            <h2>  {{ user.firstName }} {{ user.lastName }}  <span class="profile-head">{{ Role }} </span> </h2>


          </div>
        </div>
        <div class="col-md-2" *ngIf="isProfilUser()">
          <a routerLink='/dashboard/customer/editProfil'
            ><button class="bn30" role="button" translate>
              <i class="fa fa-edit"></i>
            titles.update_pro
            </button>
          </a>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="profile-work"></div>
        </div>
        <div class="col-md-8">
          <div class="row"></div>
          <div class="row">
            <div class="col-md-6">
              <label translate><i class="fas fa-user"></i>  input.titles.fullname  </label>
            </div>
            <div class="col-md-6">
              <p>{{ user.firstName }} {{ user.lastName }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6">
              <label translate> <i class="fas fa-envelope"></i> &nbsp;input.titles.email</label>
            </div>
            <div class="col-md-6">
              <p>{{ user.identifier }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6">
              <label translate
                ><i class="fas fa-phone-alt"></i> &nbsp; input.titles.tel
                <i class="fa fa-phone-rotary"></i
              ></label>
            </div>
            <div class="col-md-6">
              <p>{{ user.tel }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6">
              <label translate
                ><i class="fas fa-map-marker-alt"></i> &nbsp; input.titles.address</label
              >
            </div>
            <div class="col-md-6">
              <p >
                <span translate>location.street</span> : {{ user.address.Street }} <br />
                <br />   <span translate>location.city</span>  : {{ user.address.City }} <br />
                <br />   <span translate>location.governorate</span>  : {{ user.address.State }} <br />
                <br />   <span translate>location.country</span>  : {{ user.address.Country }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
