<section class="min-h-100 bg-light" style="height: 100vh;">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="logo">
            <div class="card-title text-center">
              <span><img src="assets/images/gest.png" alt="Sample photo" height="60px" width="100px" /></span>
              <span class="mb-5 text-uppercase">ajouter une Equipe</span>
            </div>
          </div>
          <form [formGroup]="teamForm" (ngSubmit)="AddTeam()" >
            <div class="row g-0">
              <div class="col-xl-6 d-xl-block">
                <div class="card-body p-md-5 text-black">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1n">Titre</label>

                    <input type="text" placeholder="Entrez le nom d'équipe" class="form-control form-control-lg" formControlName="titre" />
                    <!--Error Title-->
                    <p *ngIf="(titre?.touched|| titre?.dirty ) && !titre?.valid" class="text-danger"> Ce champ est
                      obligatoire</p>
                    <p *ngIf="titre?.errors?.['pattern']" class="text-danger"> vous devez entrez au minimun deux
                      caractéres</p>
                    <!----------->
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <div class="form-outline">
                    <label class="form-label"> Ajouter des membres</label>

                    <ng-multiselect-dropdown [placeholder]="'Selectionner membres'" [settings]="dropdownSettings"
                      [data]="dropdownList" formControlName="membres" (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)" class=" form-control-lg">
                    </ng-multiselect-dropdown>
                    <!--Error membres-->
                    <p *ngIf="(membres?.touched|| membres?.dirty ) && !membres?.valid" class="text-danger"> Ce champ est
                      obligatoire</p>
                    <!----------->
                    <span class="extra-line">

                      <a href="/"> Ajouter un employé</a>
                    </span>

                  </div>



                  <div class="d-flex justify-content-end pt-3">
                    <button class="button-82-pushable" type="submit"
                     [disabled]="teamForm.invalid" role="button">
                      <span class="button-82-shadow"></span>
                      <span class="button-82-edge"></span>
                      <span class="button-82-front text">
                        Ajouter
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
