<title translate> titles.interventions_closed_list
</title>

<section class="min-h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="logo">
        <h1 class="mb-5 text-center text-uppercase" translate>
          titles.interventions_closed_list
        </h1>
      </div>

      <!--End nav-->
      <!--Start content-->
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

           <article class="postcard light" *ngFor="let intervention of interventionList">
            <a class="postcard__img_link" [routerLink]="['/dashboard/manager/detailInterventionClosed',intervention.id]">
              <img class="postcard__img" [src]="img"
                alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue">
                {{intervention.title}}
              </h1>

              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i> &nbsp; <strong translate>titles.started_at</strong>:
                  {{ intervention.createdAt | date:'dd-MM-yyyy'}}
                </time>
              </div>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-check"></i> &nbsp; <strong translate> input.titles.closed_date</strong>
                  {{ intervention.closedDate }}
                </time>
              </div>


              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">

              </div>
              <ul class="postcard__tagbox">
                <li class="tag__item">
                  <a [routerLink]="['/dashboard/manager/detailInterventionClosed', intervention.id]" translate><i
                      class="fas fa-info-circle"></i>
                    buttons.consult_details
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </div>



      </div>
    </div>
  </div>
</section>
