<section class="min-h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="logo">
        <h1 class="mb-5 text-center text-uppercase">

          Les agents
        </h1>
      </div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a >
            <button  (click)="showTManagers()" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
              data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
             <i class="fa fa-user-shield"></i> Chefs d'équipes
            </button></a>
          <a
         >
            <button  (click)="showMembers()" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
              data-bs-target="#nav-profile" type="button" role="tab" aria-selected="false">
          <i class="fa fa-users"></i>    Membres
            </button></a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

          <article class="postcard light" *ngFor="let item of usersList" >
            <a class="postcard__img_link" [routerLink]="['/dashboard/manager/userProfil',item.id]">
              <img class="postcard__img"
                src="
                https://wallpaperaccess.com/full/4321838.jpg"
                alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue">
                <i class="fa fa-user"></i> {{item.firstName}}
              </h1>

              <div class="postcard__subtitle small">
                <i class="fas fa-phone"></i>
               <strong>(+216) {{item.tel}} </strong>
              </div>
              <div class="postcard__subtitle small">
                <i class="fas fa-user-circle"></i>
               <strong>Role: {{convertRole(item.roles)}}</strong>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">

              </div>
              <ul class="postcard__tagbox">
                <li class="tag__item">
                  <a [routerLink]="['/dashboard/manager/userProfil', item.id]"><i class="fas fa-info-circle"></i>Afficher
                    details</a>
                </li>
              </ul>
            </div>
          </article>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">


          <article class="postcard light" *ngFor="let item of usersList" >
            <a class="postcard__img_link" [routerLink]="['/dashboard/manager/userProfil',item.id]">
              <img class="postcard__img"
                src="
                https://wallpapercave.com/wp/wp7728120.jpg"
                alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue">
                <i class="fa fa-user"></i> {{item.firstName}}
              </h1>

              <div class="postcard__subtitle small">
                <i class="fas fa-phone"></i>
               <strong>(+216) {{item.tel}} </strong>
              </div>
              <div class="postcard__subtitle small">
                <i class="fas fa-user-circle"></i>
               <strong>Role: {{convertRole(item.roles)}}</strong>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">

              </div>
              <ul class="postcard__tagbox">
                <li class="tag__item">
                  <a [routerLink]="['/dashboard/manager/userProfil', item.id]"><i class="fas fa-info-circle"></i>Afficher
                    details</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
