@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {

 box-sizing: border-box;

font-family: "Poppins", sans-serif;
}
input,select,textarea{  margin: 10px 0px;
  width: 70%;

  outline: none;
  padding: 10px 5px;
  background-color: #f6f6f6;
}


/*________________radio bouton ______________*/



.radio {
  --border-radius: 50%;

  padding: 5px;
}

.checkbox {
  --border-radius: 0;

  padding: 5px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
  display: none;
}

.radio label, .checkbox label {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;

  border: 3px solid black;
  border-radius: var(--border-radius);

  box-sizing: border-box;
}

.radio label::before, .checkbox label::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 10px;
  height: 10px;

  border-radius: var(--border-radius);

  background-color: transparent;

  transform: translate(-50%, -50%);

  transition: background-color 0.25s;
}

.radio :checked ~ label::before, .checkbox :checked ~ label::before {
  background-color: grey;
}

.radio span, .checkbox span {
  color: grey;

  vertical-align: top;

  transition: color 0.25s;
}

.radio :checked ~ span, .checkbox :checked ~ span {
  color: rgb(228, 184, 42);
}
agm-map {
  height: 500px;
  width: 500px; ;
}












.card {
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);


  padding: 25px 30px;
}

.title{

  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 110px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.form-control{

  border: 2px solid #9b59b6 !important;


  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;

  margin: 10px 0px;
  width: 70%;
  background-color: #f6f6f6;

  border: 2px solid #9b59b6;
  outline: 0;
  box-shadow: none;

  padding: 10px 5px;
  background-color: #f6f6f6;}

