@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {

 box-sizing: border-box;

font-family: "Poppins", sans-serif;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;

}
.card-registration .select-arrow {
  top: 20px;
}
fieldset {

  border: 2px solid #ccc;
}

input,select,textarea{  margin: 10px 0px;
  width: 70%;

  outline: none;
  padding: 10px 5px;
  background-color: #f6f6f6;
}


.logo {
  margin-top: 20px;
}
.logo span,
.logo span img {
  font-size: 25px;
  color: #0d8aa7;
}

.login-text h1 {
  font-size: 25px;
}
.login-text p {
  font-size: 15px;
  color: #000000b2;
}
.extra-line {
  font-size: 15px;
  font-weight: 600;
}
.extra-line a {
  color: #0095b6;
}
button
{
 margin-right: 30%;
}




/*________________radio bouton ______________*/



.radio {
  --border-radius: 50%;

  padding: 5px;
}

.checkbox {
  --border-radius: 0;

  padding: 5px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
  display: none;
}

.radio label, .checkbox label {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;

  border: 3px solid black;
  border-radius: var(--border-radius);

  box-sizing: border-box;
}

.radio label::before, .checkbox label::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 10px;
  height: 10px;

  border-radius: var(--border-radius);

  background-color: transparent;

  transform: translate(-50%, -50%);

  transition: background-color 0.25s;
}

.radio :checked ~ label::before, .checkbox :checked ~ label::before {
  background-color: grey;
}

.radio span, .checkbox span {
  color: grey;

  vertical-align: top;

  transition: color 0.25s;
}

.radio :checked ~ span, .checkbox :checked ~ span {
  color: rgb(228, 184, 42);
}
agm-map {
  height: 500px;
  width: 500px; ;
}
