
<section class="min-h-100 bg-light" style="height: 100vh;" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img

                src="assets/images/1711_sm005_094_.jpg"
                alt="Sample photo"
                class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
              />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">

                <div class="logo">
                  <span><img

                    src="assets/images/gest.png"
                    alt="Sample photo"
                    height="60px" width="100px"

                  /></span>
                  <span class="mb-5 text-uppercase">Connectez vous à votre espace </span>
                </div>

            <form    [formGroup]="loginForm" (ngSubmit)="Login()" novalidate>
                   <div class="form-outline">
                  <label class="form-label" >Identifiant</label>

                  <input type="text" formControlName="identifier" class="form-control form-control-lg" placeholder="Entrez votre Identifiant" />
                  <p class="text-danger" *ngIf="!Identifier?.valid && (Identifier?.dirty ||Identifier?.touched)">
               &nbsp;{{getErrorMessage('identifier') }}

                </p>
                </div>  <div class="form-outline">
                  <label class="form-label">Mot de passe</label>

                  <input type="text" formControlName="password" class="form-control form-control-lg" placeholder="Entrez votre mot de passe"/>
                  <p class="text-danger" *ngIf="!Password?.valid && (Password?.dirty ||Password?.touched)">
                    <i class="fas exclamation-circle"></i> &nbsp;{{getErrorMessage('password') }}

                </p>
                </div>



                <div class="d-flex justify-content-end pt-3">
                  <button class="button-82-pushable" type="submit" [disabled]="!loginForm.valid" role="button">
                    <span class="button-82-shadow"></span>
                    <span class="button-82-edge"></span>
                    <span class="button-82-front text">
                      CONNECTER
                    </span>
                  </button>

                </div>


  <span class="extra-line">

    <a routerLink="/register">Mot de passe oublier?</a>
  </span><br>
  <span class="extra-line">

    <a routerLink="/register2">Créer un nouveau compte </a>
  </span>      </form>


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
