<app-nav-bar></app-nav-bar>
<section class="h-100">
  <div>
    <div class="profile resposive">
      <div class="profile-header">
        <div class="profile-info">
          <div class="profile-img">
            <h4 translate> titles.log </h4> 
          </div>
          <div class="actions">
            <div class="about">
              <form [formGroup]="loginForm" (ngSubmit)="try_login()" novalidate>
                <div class="form-group required">
                  <label for="username" translate>input.titles.identifier</label>
                  <input type="text" formControlName="identifier" class="form-control"
                    placeholder="{{'input.msg.identifier'|translate}}" />
                  <p class="ErrorMsg" *ngIf="
                      !Identifier?.valid &&
                      (Identifier?.dirty || Identifier?.touched)
                    " translate>
                    &nbsp;
                    errors.req_error
                  </p>
                </div>
                <div class="form-group required">
                  <label class="d-flex flex-row align-items-center" for="password"
                    translate>input.titles.password</label>

                  <input type="text" formControlName="password" class="form-control"
                    placeholder="{{'input.msg.password'|translate}}" />
                  <p class="ErrorMsg" *ngIf="
                      !Password?.valid && (Password?.dirty || Password?.touched)
                    " translate>
                    <i class="fas exclamation-circle"></i>errors.req_error
                  </p>
                  <p *ngIf="Password?.errors?.['pattern']" class="ErrorMsg" translate>
                    errors.alph_8error </p>

                </div>
                <re-captcha (resolved)="checkCaptcha($event)" [siteKey]="siteKey" formControlName="captcha">
                </re-captcha>
                <div class="d-flex justify-content-end pt-3">
                  <button class="bn632-hover bn24" type="submit" role="button" [disabled]="!loginForm.valid" translate>
                    buttons.connect
                  </button>
                </div>
              </form>

              <span class="extra-line">
              </span><br />
              <span class="extra-line">
                <a routerLink="/register" translate>links.link_register </a>
              </span>

            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</section>
<app-footer></app-footer>
