<app-nav-bar></app-nav-bar>
<section class="h-100">
  <div>
    <div class="profile resposive">
      <div class="profile-header">
        <div class="profile-info">
          <div class="profile-img">
            <h4 translate> titles.log </h4>
          </div>
          <div class="actions">
            <div class="about">
              <form [formGroup]="loginForm" (ngSubmit)="try_login()" novalidate>
                <div class="form-group required">
                  <label for="username">Identifiant</label>

                  <input
                    type="text"
                    formControlName="identifier"
                    class="form-control"
                    placeholder="Entrez votre Identifiant"
                  />
                  <p
                    class="ErrorMsg"
                    *ngIf="
                      !Identifier?.valid &&
                      (Identifier?.dirty || Identifier?.touched)
                    "
                  >
                    &nbsp;{{ getErrorMessage("identifier") }}
                  </p>
                </div>
                <div class="form-group required">
                  <label
                    class="d-flex flex-row align-items-center"
                    for="password"
                    >Mot de passe</label
                  >

                  <input
                    type="text"
                    formControlName="password"
                    class="form-control"
                    placeholder="Entrez votre mot de passe"
                  />
                  <p
                    class="ErrorMsg"
                    *ngIf="
                      !Password?.valid && (Password?.dirty || Password?.touched)
                    "
                  >
                    <i class="fas exclamation-circle"></i> &nbsp;{{
                      getErrorMessage("password")
                    }}
                  </p>
                </div>
                <re-captcha (resolved)="checkCaptcha($event)" [siteKey]="siteKey" formControlName="captcha"
                 ></re-captcha>
                <div class="d-flex justify-content-end pt-3">
                  <button
                    class="bn632-hover bn24"
                    type="submit"
                    role="button"
                    [disabled]="!loginForm.valid"
                  >
                    CONNECTER
                  </button>
                </div>
              </form>

              <span class="extra-line">
                <a routerLink="/">Mot de passe oublier?</a> </span
              ><br/>
              <span class="extra-line">
                <a routerLink="/register">Créer un nouveau compte </a>
              </span>

            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</section>
<app-footer></app-footer>


