
<div class="main-container">
  <div class="heading">
    <h1 class="heading__title">Detail de la demande</h1>
    <p class="heading__credits">
      {{'Cette de mande est crée par le client '+ demand.user.getfirstName()+' '+demand.user.getlastNamme()}}</p>
      <p class="heading__credits">
        Depuis {{demand.createdAt | date:'yyyy-MM-dd'}} à {{demand.createdAt | date:'HH:mm'}} </p>

    </div>
  <div class="cards">
    <div class="card card-3">
      <div class="card__icon"><i class="fas fa-heading"></i></div>

      <h2 class="card__title">{{demand.title}}</h2>

    </div>
    <div class="card card-3">
      <div class="card__icon"><i class="far fa-comment-alt"></i></div>

      <h2 class="card__title">{{demand.description}}.</h2>
     
    </div>
    <div class="card card-3">
      <div class="card__icon"><i class="fas fa-map-marker-alt"></i></div>

      <h2 class="card__title">  <h2>Lieu</h2>

      <p>Rue : {{demand.address.Street}}
        <br>Ville : {{demand.address.City}}
        <br>Gouvernorat : {{demand.address.State}}
        <br>Pays : {{demand.address.Country}}
      </p></h2>

    </div>
    <div class="card card-3">
      <div class="card__icon"><i class="far fa-question-circle"></i></div>


      <h2 class="card__title">{{status}}</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
  </div>
</div>
