/* HEADING */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

/*---*/

/*
uuu
*/

/*****Buttoms ********/
/* From cssbuttons.io */
button {
  width: 160px;
  height: 70px !important;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

.green {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #7ac142;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

button,
button span {
  transition: 100ms;
}

button .text {
  transform: translateX(35px);
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button .iconG {
  position: absolute;
  border-left: 1px solid #6b8657;
  transform: translateX(110px);

  display: flex;
  align-items: center;
  justify-content: center;
}

button svg {
  width: 30px;
  fill: #eee;
}

button:hover {
  background: #ff3636;
}

.green:hover {
  background: #7ac142;
}

button:hover .text {
  color: transparent;
}

button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

button:hover .iconG {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

button:focus {
  outline: none;
}

button:active .icon svg {
  transform: scale(0.8);
}





/********/

.checkmark {
  width: 100;
  height: 100;
  border-radius: 50%;
  display: block;
  stroke-width: 10;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #ffffff;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__circle {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  stroke-width: 100;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
}

.checkmark__check {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}



/*****Card ********/
.card {
  border: 0;
  padding: 10px 10px;
}

.card-text {
  font-size: 20px;
}

h3 {
  background: -webkit-linear-gradient(120deg, #71b7e6, #bd9dca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
margin-bottom: 20px;
  font-size: 35px;
  text-transform: capitalize;
  }

span
{text-transform: capitalize;
}

@media (max-width:567px) {
button{
  display: block;
  width: 80px;
  height: 30px !important;
}
.green{
  display: block;
  width: 80px;
  height: 30px !important;
}
button:hover .text {
  color: #fff;
}

svg {
  visibility:  hidden!important;
}
button .iconG {visibility: hidden};
button .icon {visibility: hidden};
}





.map {
  height: 50vh;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-between;
}

.content-area {
  height: 80%;
}

.demo-area {
  height: 70vh;
  margin-right: auto;
  margin-left: auto;
}
