<section class="min-h-100 bg-light" style="height: 100vh;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="logo">
            <div class="card-title text-center">
              <span
                ><img
                  src="assets/images/gest.png"
                  alt="Sample photo"
                  height="60px"
                  width="100px"
              /></span>
              <span class="mb-5 text-uppercase">Reclamation numero 001</span>
            </div>
          </div>

          <div class="row g-2">

            <div class="col-xl-6  d-xl-block">
              <div class="card-body p-md-5 text-black">
                <h4 class="card-title">Description</h4>

                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content Some quick example text to build on the card title and make up the bulk of the card's content Some quick example text to build on the card title and make up the bulk of the card's content Some quick example text to build on the card title and make up the bulk of the card's content Some quick example text to build on the card title and make up the bulk of the card's content .</p>

            <h4 class="card-title">Temps</h4>
                <p class="card-text">01/20/2000</p>


              </div>

            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">



                <h4 class="card-title">Publié à</h4>
                <p class="card-text">p the bulk of the card's content.</p>
                <h4 class="card-title">Lieu</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>


              </div>

            </div>

 </div>
 <div class="card-footer">
  <div class="d-flex justify-content-center ">
    <button class="button-73-2" role="button">Rejeter</button>
    <button class="button-73" role="button">accepter</button>

  </div>
 </div>

        </div>
      </div>
    </div>
  </div>
</section>
