<div class="container py-5">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-dark"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
        class="btn btn-dark"
        mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
        class="btn btn-dark"
        (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
        class="btn btn-dark"
        (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
        class="btn btn-dark"
        (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-day-view>
  </div>

  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->



  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h1 class="text-uppercase text-center" translate>titles.detail_inter.title</h1>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">


          <div class="card-group">
            <div class="card info d-md-inline">
              <div class="row m-auto">
                <div class="card-body text-black">
                  <h2 class="card__title" translate>
                    <i class="fa fa-heading"></i> &nbsp; input.titles.title
                  </h2>

                  <p class="card__text">{{ intervention.title }}</p>
                  <h2 class="card__title" translate>
                    <i class="fas fa-calendar-alt"></i> &nbsp; titles.started_at
                  </h2>

                  <p class="card__text">{{ intervention.startedAt }}</p>
                  <h2 class="card__title" translate>
                    <i class="fas fa-calendar-check"></i> &nbsp; input.titles.end_date
                  </h2>

                  <p class="card__text">{{ intervention.expiredAt }}</p>

                       <h2 class="card__title" translate>
                    <i class="fas fa-exclamation-circle"></i> &nbsp; titles.categories
                  </h2>

                  <p class="card__text">
                    {{ intervention.category.getName() }}
                  </p>
                </div>
              </div>
            </div>
            <div class="card info d-md-inline">
              <div class="row m-auto">
                <div class="card-body text-black">
                  <h2 class="card__title" translate>
                    <i class="fas fa-users-cog"></i>&nbsp;  input.titles.team
                  </h2>
                  <p class="card__text">
                    {{ intervention.team.name }}
                  </p>
                  <h2 class="card__title" translate>
                    <i class="fas fa-map-marker-alt"></i>&nbsp; location.title
                  </h2>
                  <p class="card__text">
                     <p >
                      <span translate>location.street</span> : {{ intervention.address.Street }} <br />
                      <br />   <span translate>location.city</span>  : {{ intervention.address.City }} <br />
                      <br />   <span translate>location.governorate</span>  : {{ intervention.address.State }} <br />
                      <br />   <span translate>location.country</span>  : {{ intervention.address.Country }}
                    </p>
             
                </div>
              </div>
            </div>
          </div>





      </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>

</div>
