<section class="min-h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="logo">
        <h1 class="mb-5 text-center text-uppercase">

          Les materiéls
        </h1>
      </div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a [routerLink]="['/dashboard/manager/materialList']" routerLinkActive>
            <button (click)="showAll()" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
              data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
              <i class="fas fa-list"></i> Tous
            </button></a>
          <a [routerLink]="['/dashboard/manager/materialList']" routerLinkActive
            [queryParams]="{ status: 'DISPONIBLE' }">
            <button (click)="showByStatus()" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
              data-bs-target="#nav-profile" type="button" role="tab" aria-selected="false">
              <i class="fa fa-spinner" aria-hidden="true"></i>
              Disponible
            </button></a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <article class="postcard light">
            <a class="postcard__img_link" routerLinkActive="router-link-active"
              [routerLink]="['/dashboard/manager/detailMaterial']">
              <img class="postcard__img"
                src="
                            https://images.unsplash.com/photo-1593436878396-e943a3cac98f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
                alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue">NOM</h1>

              <div class="postcard__subtitle small">
                Chef d'équipe: <strong>Mohsen</strong>
              </div>
                            <div class="postcard__subtitle small">
                              Status: <strong>gggggggggsds</strong>
                            </div>                            <div class="postcard__bar"></div>

              <ul class="postcard__tagbox">

                <li class="tag__item">
                  <a routerLinkActive="router-link-active" [routerLink]="['/dashboard/manager/detailMaterial','ffffff']"><i
                      class="fas fa-info-circle"></i>Afficher details</a>
                </li>
                <li class="tag__item">
                  <a routerLinkActive="router-link-active" [routerLink]="['/dashboard/manager/updateMaterial','hhh']"><i
                      class="fas fa-info-circle"></i>Mettre à jour</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="postcard light" *ngFor="let material of materialList">
            <a class="postcard__img_link" routerLinkActive="router-link-active"
              [routerLink]="['/dashboard/manager/detailMaterial', material.id]">
              <img class="postcard__img"
                src="
                            https://images.unsplash.com/photo-1593436878396-e943a3cac98f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
                alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue">
                {{ material.name }}
              </h1>

              <div class="postcard__subtitle small">
                Status: <strong>{{ material.status }}</strong>
              </div>
              <div class="postcard__bar"></div>

              <ul class="postcard__tagbox">
                <li class="tag__item">
                  <a routerLinkActive="router-link-active" [routerLink]="[
                      '/dashboard/manager/detailMaterial',
                      material.id
                    ]"><i class="fas fa-info-circle"></i>Afficher details</a>
                </li>
                <li class="tag__item">
                  <a routerLinkActive="router-link-active" [routerLink]="[
                      '/dashboard/manager/updateMaterial',
                      material.id
                    ]"><i class="fas fa-info-circle"></i>Mettre à jour</a>
                </li>
              </ul>
            </div>
          </article>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <article class="postcard light" *ngFor="let material of materialList">
            <a class="postcard__img_link" routerLinkActive="router-link-active"
              [routerLink]="['/dashboard/manager/detailMaterial', material.id]">
              <img class="postcard__img"
                src="
                            https://images.unsplash.com/photo-1593436878396-e943a3cac98f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
                alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue">
                {{ material.name }}
              </h1>

              <div class="postcard__subtitle small">
                Status: <strong>{{ material.status }}</strong>
              </div>
              <div class="postcard__bar"></div>

              <ul class="postcard__tagbox">
                <li class="tag__item">
                  <a routerLinkActive="router-link-active" [routerLink]="[
                      '/dashboard/manager/detailMaterial',
                      material.id
                    ]"><i class="fas fa-info-circle"></i>Afficher details</a>
                </li>
                <li class="tag__item">
                  <a routerLinkActive="router-link-active" [routerLink]="[
                      '/dashboard/manager/updateMaterial',
                      material.id
                    ]"><i class="fas fa-info-circle"></i>Mettre à jour</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
