<app-nav-bar></app-nav-bar>

<section class="min-h-100">
  <div>
    <div class="profile resposive">
      <div class="profile-header">
        <div class="profile-info">
          <div class="profile-img">
            <h4 translate> inscrivez vous a notre site</h4>
          </div>
          <div class="actions">
            <div class="about">

              <div class="content">
                <div class="scroll">

                <form [formGroup]="registerForm" (ngSubmit)="Register()" novalidate>
                  <div class="user-details">
                    <div class="input-box">
                      <span class="details">Nom</span>
                      <input
                        type="text"
                        formControlName="firstName"
                        placeholder="Entrez votre nom"
                        data-rule="required"
                      />
                      <!--FisrtName errors-->
                      <p
                        class="ErrorMsg"
                        *ngIf="
                          !firstName?.valid && (firstName?.dirty || firstName?.touched)
                        "
                      >
                        Nom est obligatoire
                      </p>
                      <p *ngIf="firstName?.errors?.['pattern']" class="ErrorMsg">
                        vous devez entrez au minimun deux caractéres
                      </p>
                      <!------------>
                    </div>
                    <div class="input-box">
                      <span class="details">Prénom</span>
                      <input
                        type="text"
                        formControlName="lastNamme"
                        placeholder="Entrez votre prénom"
                      />
                      <!--FisrtName errors-->
                      <p
                        class="ErrorMsg"
                        *ngIf="
                          !lastNamme?.valid && (lastNamme?.dirty || lastNamme?.touched)
                        "
                      >
                        Nom est obligatoire
                      </p>
                      <p *ngIf="lastNamme?.errors?.['pattern']" class="ErrorMsg">
                        vous devez entrez au minimun deux caractéres
                      </p>
                      <!------------>
                    </div>
                    <div class="input-box">
                      <span class="details">Email</span>
                      <input
                        type="email"
                        formControlName="identifier"
                        placeholder="Entrez votre  Email"
                      />
                      <!--identifier errors-->
                      <p
                        class="ErrorMsg"
                        *ngIf="
                          !identifier?.valid && (identifier?.dirty || identifier?.touched)
                        "
                      >
                        Ce champs est obligatoire
                      </p>
                      <p *ngIf="identifier?.errors?.['email']" class="ErrorMsg">
                        structure de email : foulen@foulen
                      </p>
                      <!------------>
                    </div>

                    <div class="input-box">
                      <span class="details">Telephone</span>
                      <input
                        type="number"
                        formControlName="tel"
                        placeholder="Entrez votre numéro de télephone"
                      />
                      <!--Tel errors-->
                      <p
                        class="ErrorMsg"
                        *ngIf="!tel?.valid && (tel?.dirty || tel?.touched)"
                      >
                        Ce champs est obligatoire
                      </p>
                      <p *ngIf="tel?.errors?.['pattern']" class="ErrorMsg">
                        Entrez 8 chiffres
                      </p>
                      <!------------>
                    </div>
                    <div class="input-box">
                      <span class="details">Pays</span>
                      <input type="text"  [readonly]="true" formControlName="country"  value="Tunisie" />
                      <!--Country errors-->
                      <p
                        class="ErrorMsg"
                        *ngIf="!counrty?.valid && (counrty?.dirty || counrty?.touched)"
                      >
                        ce champ est obligatoire
                      </p>

                      <!------------>
                    </div>
                    <div class="input-box">
                      <span class="details">Gouvernorat</span>
                  <select formControlName="state" (change)="loadCities()">
                    <option *ngFor="let item of states"  [value]="item">{{item}}</option>
                  </select>

                      <!--Zip code errors-->
                      <p
                        class="ErrorMsg"
                        *ngIf="!state?.valid && (state?.dirty || state?.touched)"
                      >
                        ce champ est obligatoire
                      </p>

                      <!------------>
                    </div>
                    <div class="input-box">
                      <span class="details">Ville</span>
                      <select   formControlName="city">
                        <option *ngFor="let item of cities" [value]="item">{{item}}</option>
                      </select>


                      <!--Ville errors-->
                      <p
                        class="ErrorMsg"
                        *ngIf="!city?.valid && (city?.dirty || city?.touched)"
                      >
                        ce champ est obligatoire
                      </p>

                      <!------------>
                    </div>
                    <div class="input-box">
                      <span class="details">Code postal</span>
                      <input
                        type="text"
                        formControlName="zipCode"
                        placeholder="code postal"
                      />

                      <!--Zip code errors-->
                      <p
                        class="ErrorMsg"
                        *ngIf="!zipCode?.valid && (zipCode?.dirty || zipCode?.touched)"
                      >
                        ce champ est obligatoire
                      </p>

                      <!------------>
                    </div>

                    <div class="input-box">
                      <span class="details">Rue</span>
                      <input type="text" formControlName="street" placeholder="Rue" />
                      <!--Street errors-->
                      <p
                        class="ErrorMsg"
                        *ngIf="!street?.valid && (street?.dirty || street?.touched)"
                      >
                        ce champ est obligatoire
                      </p>

                      <!------------>
                    </div>
                    <div class="input-box">
                      <span class="details">Password</span>
                      <input
                        type="password"
                        formControlName="password"
                        placeholder="Entrez votre Mot de passe"
                      />
                      <!--pwd errors-->
                      <p
                        class="ErrorMsg"
                        *ngIf="!password?.valid && (password?.dirty || password?.touched)"
                      >
                        ce champ est obligatoire
                      </p>
                      <p *ngIf="password?.errors?.['pattern']" class="ErrorMsg">
                        vous devez entrez au minimun 8 caractéres
                      </p>

                      <!------------>
                    </div>
                    <div class="input-box">
                      <span class="details">Confirm Password</span>
                      <input
                        type="password"
                        formControlName="confirm_password"
                        placeholder="Confirmer votre mot de passe"
                      />
                      <p
                        class="ErrorMsg"
                        *ngIf="
                          !confirm_password?.valid &&
                          (confirm_password?.dirty || confirm_password?.touched)
                        "
                      >
                        ce champ est obligatoire
                      </p>
                      <p
                        *ngIf="registerForm.hasError('ConfirmedValidator')"
                        class="ErrorMsg"
                      >
                        not matched
                      </p>
                    </div>
                    <div class="input-box">
                    <re-captcha (resolved)="checkCaptcha($event)" [siteKey]="siteKey" formControlName="captcha"
                    ></re-captcha></div>
                  </div>

                  <div class="d-flex justify-content-end pt-3">
                    <button
                      class="bn632-hover bn24"
                      type="submit"
                      role="button"
                      [disabled]="!registerForm.valid"
                    >
                      INSCRIRE
                    </button>
                  </div>

                  <span class="extra-line">
                    <a routerLink="/login">Vous avez dejà un compte? </a>
                  </span>
                </form>
              </div>
            </div>
          </div>
          </div>

          </div>


      </div>

    </div>

  </div>
</section>


<app-footer></app-footer>
