<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
<div class="main">
  <div class="left">
    <ul>
      <li class="menu-heading">Dashboards</li>
      <li *ngIf="isCustomer">
        <a data-toggle="tab " routerLink="/dashboard/customer/home"><i class="fa fa-home fa-lg"></i>
          {{'titles.home'|translate}}</a>
      </li>

      <li *ngIf="isManager">
        <a data-toggle="tab " routerLink="/dashboard/manager/home"><i class="fa fa-home fa-lg"></i>
          {{'titles.home'|translate}}</a>
      </li>
      <li class="active" *ngIf="isCustomer">
        <a data-toggle="tab" routerLink="/dashboard/customer/customerProfil"><i class="fa fa-street-view fa-lg"></i>
          {{'titles.profil'|translate}} </a>
      </li>
      <li *ngIf="isCustomer">
        <a data-toggle="tab" routerLink="/dashboard/customer/createReclamation"><i class="fa fa-edit"></i>
          {{'titles.add_demand'|translate}}</a>
      </li>

      <li *ngIf="isManager">
        <a href="#submenu5" class="dropdown-toggle" data-bs-toggle="collapse">
          <i class="fa fa-users-cog"></i>
          {{'titles.employees'|translate}}</a>
        <ul class="dropdown-menu-dark collapse text-small" id="submenu5" data-bs-parent="#menu">
          <li>

            <a data-toggle="tab" class="text-light" routerLink="/dashboard/manager/employeeList"><i
                class="fa fa-list"></i> {{'titles.employees_list'|translate}}</a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/subscribeMembre']"><i
                class="fa fa-user-cog"></i> {{'titles.add_emp'|translate}} </a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/fileMembersUpload']"><i
                class="fa fa-upload" aria-hidden="true"></i> {{'titles.up'|translate}}</a>
          </li>
        </ul>
      </li>
      <li *ngIf="isManager">
        <a href="#submenu2" class="dropdown-toggle" data-bs-toggle="collapse">
          <i class="fa fa-users"></i>{{'titles.teams'|translate}}</a>
        <ul class="dropdown-menu-dark collapse text-small" id="submenu2" data-bs-parent="#menu">
          <li>
            <a class="text-light" data-toggle="tab" [routerLink]="['/dashboard/manager/teamList']"><i
                class="fa fa-list"></i> {{'titles.teams_list'|translate}}</a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/addTeam']"><i
                class="fa fa-plus-circle"></i>{{'titles.new_team'|translate}} </a>
          </li>
        </ul>
      </li>

      <li *ngIf="isManager">
        <a href="#submenu3" class="dropdown-toggle" data-bs-toggle="collapse">
          <i class="fa fa-building"></i>{{'titles.intervention'|translate}} </a>
        <ul class="dropdown-menu-dark collapse text-small" id="submenu3" data-bs-parent="#menu">
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/interventionList']"><i
                class="fa fa-list"></i> {{'titles.interventions_list'|translate}}</a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/interventionClosedList']"><i
                class="fa fa-lock"></i>{{'titles.interventions_closed_list'|translate}}</a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/categorylist']"><i
                class="fa fa-clipboard-list"></i> {{'titles.categories'|translate}}</a>
          </li>
        </ul>
      </li>
      <li *ngIf="isManager">
        <a href="#submenu4" class="dropdown-toggle" data-bs-toggle="collapse">
          <i class="fa fa-boxes"></i>{{'titles.materials'|translate}}</a>
        <ul class="dropdown-menu-dark collapse text-small" id="submenu4" data-bs-parent="#menu">
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/materialList']"><i
                class="fa fa-list"></i>{{'titles.materials_list'|translate}} </a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/addMaterial']"><i
                class="fa fa-plus-circle"></i>{{'titles.new_material'|translate}} </a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/fileMaterialsUpload']"><i
                class="fa fa-upload" aria-hidden="true"></i> {{'titles.up'|translate}}</a>
          </li>
        </ul>
      </li>
      <li *ngIf="isManager">
        <a data-toggle="tab " [routerLink]="['/dashboard/manager/customerList']" translate><i class="fa fa-users"></i>
          titles.customers</a>
      </li>
      <li *ngIf="isManager">
        <a data-toggle="tab " [routerLink]="['/dashboard/manager/reclamationList']"><i class="fa fa-clipboard-list"></i>
          {{'titles.demands.title'|translate}} </a>
      </li>
      <li *ngIf="isManager">
        <a data-toggle="tab" [routerLink]="['/dashboard/manager/calandar']"translate><i class="fa fa-calendar"></i>
      titles.calendar </a>
      </li>

      <!--     !!!!!  LOGOUTTTTTT !!!! -->
      <div class="dropdown pb-4">
        <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://www.pngitem.com/pimgs/m/22-220721_circled-user-male-type-user-colorful-icon-png.png"
            alt="hugenerd" width="50" height="50" class="rounded-circle" />
          <span class="d-none d-sm-inline mx-1">{{username}} </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li *ngIf="isCustomer"> <a class="dropdown-item text-small text-light"
              routerLink="/dashboard/customer/changePassword" translate>titles.update_pass </a></li>
          <li *ngIf="isManager"> <a class="dropdown-item text-small text-light"
              routerLink="/dashboard/manager/changePassword" translate>titles.update_pass </a></li>

          <li> <a class="dropdown-item text-small-light text-light" (click)="onLogout()" translate>titles.logout </a>
          </li>

        </ul>
      </div>
    </ul>
  </div>
  <div class="right">
    <nav class="navbar navbar-expand-lg navbar-light" style="
        background-image: linear-gradient(to left, #cd97c7, #ddbad9, #eedcec);
      ">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="assets/images/icon.png" alt="INTERVENT" height="60px" width="100px" style="text-align: center" />
        <a class="navbar-brand">ARAB INTERVENT</a>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">

            <li class="nav-item dropdown dropdown-mega position-static ml-auto">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                <img class="globe" src="assets/images/globe.png" title="{{'lng.title'|translate}}" height="50px"
                  width="50px" alt="language"></a>
              <div class="dropdown-menu shadow bgColor border-0">
                <div class="mega-content px-4">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12  md-5">
                        <strong translate> lng.title </strong>
                        <div class="list-group">
                          <span class="fw-bold" translate>
                            <img class="long" (click)="translateLanguageTo('en')"
                              src="https://media.istockphoto.com/vectors/united-kingdom-flag-realistic-waving-union-jack-vector-id1251660737?k=20&m=1251660737&s=612x612&w=0&h=Hd3fVDhA3KUaefIawI9jcyTFL7M_YZwO6wBxTu8bVxE="
                              alt="">
                            lng.en
                          </span>
                          <span class="fw-bold" translate>
                            <img class="long" (click)="translateLanguageTo('fr')"
                              src="https://i0.wp.com/www.respectability.org/wp-content/uploads/2015/01/france-flag.jpg?ssl=1"
                              alt="">
                            lng.fr
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="row">
      <!--
           <app-filtre *ngIf="isList()" (buttonClicked)="listenSearch()" ></app-filtre>
      -->

      <div class="col-sm-6">


        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
