<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<div class="main">
  <div class="left">
    <ul>
      <li class="menu-heading">Dashboards</li>
      <li><a data-toggle="tab " [routerLink]="['/dashboard/customer/home']"><i class="fa fa-home fa-lg"></i> Acceuil</a></li>

      <li class="active"><a data-toggle="tab" [routerLink]=" ['/dashboard/customer/customerProfil'] "><i class="fa fa-street-view fa-lg"></i> User
        Profile</a></li>
      <li>
        <a href="#submenu5" class="dropdown-toggle" data-bs-toggle="collapse">
        <i class="fa fa-users-cog "></i>  Agents</a>
        <ul class="dropdown-menu-dark collapse text-small" id="submenu5" data-bs-parent="#menu">
          <li>
            <a data-toggle="tab"class="text-light" ><i class="fa fa-list"></i> Liste
              des agents</a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/subscribeMembre']"><i class="fa fa-user-cog"></i> Inscrire
             un agent</a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/fileMembersUpload']"><i class="fa fa-upload" aria-hidden="true"></i>
              Telecharger
             fichier agents</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#submenu2" class="dropdown-toggle" data-bs-toggle="collapse">
          <i class="fa fa-users"></i>Equipes</a>
        <ul class="dropdown-menu-dark collapse text-small" id="submenu2" data-bs-parent="#menu">
          <li>
            <a class="text-light" data-toggle="tab" [routerLink]="['/dashboard/manager/teamList']"><i class="fa fa-list"></i> Liste équipes</a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/addTeam']"><i class="fa fa-plus-circle"></i> Nouveau
              équipe</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#submenu3" class="dropdown-toggle" data-bs-toggle="collapse">
          <i class="fa fa-building"></i>Interventions</a>
        <ul class="dropdown-menu-dark collapse text-small" id="submenu3" data-bs-parent="#menu">
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/interventionList']"><i class="fa fa-list"></i> Liste
              des interventions</a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/createIntervention']"><i class="fa fa-plus-circle"></i> Nouvel
              intervention</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#submenu4" class="dropdown-toggle" data-bs-toggle="collapse">
          <i class="fa fa-boxes"></i>Materiels</a>
        <ul class="dropdown-menu-dark collapse text-small" id="submenu4" data-bs-parent="#menu">
          <li >
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/materialList']"><i class="fa fa-list"></i> Liste
              des materielles</a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/addMaterial']"><i class="fa fa-plus-circle"></i> Nouvel
             materiel</a>
          </li>
          <li>
            <a data-toggle="tab" class="text-light" [routerLink]="['/dashboard/manager/fileMaterialsUpload']"><i class="fa fa-upload" aria-hidden="true"></i>
              Telecharger la
             fichier materiels</a>
          </li>
        </ul>
      </li>
      <li><a data-toggle="tab " [routerLink]="['/dashboard/manager/reclamationList']"><i class="fa fa-clipboard-list"></i> Demandes</a></li>


       <li class="menu-heading">Pages</li>


      <li><a data-toggle="tab" href="#invoices"><i class="fa fa-map"></i> Map</a></li>

      <li><a data-toggle="tab" href="#projects"><i class="fa fa-table fa-lg"></i>Calendrier </a></li>


      <!--     !!!!!  LOGOUTTTTTT !!!! -->
      <div class="dropdown pb-4">
        <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="hugenerd" width="50" height="50" class="rounded-circle">
          <span class="d-none d-sm-inline mx-1">Hichem</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>



    </ul>
  </div>
  <div class="right">
    <nav class="navbar navbar-expand-lg navbar-light"
      style=" background-image: linear-gradient(to left,#cd97c7 , #ddbad9, #eedcec );">
      <div class="container-fluid">
  <img src="assets/images/hichem.jpg" width="80px" height="80px" style="border-radius: 50%;" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" >Hichem Ben HAMMOUDA
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
          </ul>
          <form class="d-flex">
            <div class=" form-group col-md-9">
              <input id="exampleFormControlInput5" type="search" placeholder="Chercher..."
                class="form-control rounded-pill p-2" />
            </div>
            <div class="form-group  col-md-3">
              <a href="/"><button class=" form-control rounded-pill p-2"><i class="fa fa-search"></i></button></a>


            </div>
          </form>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-sm-6">
        <!--    <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>

          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>

          </div>
        </div>
      </div>
    </div>-->
        <router-outlet></router-outlet>
      </div>
    </div>
