<title translate>titles.home</title>
<div class="row">
  <div class="col-8">


    <a href="#" class="data-card accept">
      <h3>  <i class="fa fa-check-circle my-icon"></i>
 {{dataHome.countCurrentAcceptedDemands}}</h3>
      <h4 translate>cards.green</h4>
      <span translate class="link-text">
      buttons.consult_all <i class="fa fa-arrow-right"></i>

      </span>
    </a>
    <a href="#" class="data-card rejected">
      <h3> <i class="fa fa-minus-circle"></i>
        {{dataHome.countCurrentRefusedDemands}}</h3>
      <h4 translate>cards.red</h4>
      <span translate class="link-text">
        buttons.consult_all
        <i class="fa fa-arrow-right"></i>
      </span>
    </a>

    <a href="#" class="data-card">
      <h3>
        <i class="fa fa-spinner"></i>
        {{dataHome.countCurrentdDemands}}</h3>
      <h4  translate>
         cards.white </h4>
      <span translate class="link-text">
       buttons.consult_all
        <i class="fa fa-arrow-right"></i>
      </span>
    </a>




    <div class="container">
    <div class="mb-5">
      <span class="card__title"
      translate><i class="fa fa-clipboard-list"></i> titles.demands.title_home</span>
    </div>


    <div class="overflow-hidden">
      <div class="scrollist">
       <div class="card mb-3"  *ngFor="let item of this.getDemands; let i=index">
        <div class="card-body">
          <div class="d-flex flex-column flex-lg-row">
            <span class="avatar avatar-text rounded-3 me-4 mb-2">{{i+1}}</span>
            <div class="row flex-fill">
              <div class="col-sm-5">
                <h2>{{item.title}}</h2>
                <span class="Status" translate>status.title</span> : <span>{{status}}</span>
              </div>
              <div class="col-sm-4 py-2 calendar">
                <i class="fa fa-calendar fa-lg"></i>
                {{item.createdAt | date:'yyyy-MM-dd'}}</div>
              <div class="col-sm-3 text-lg-end">
                <a routerLink="/dashboard/customer/reclamation/{{item.id}}">
                  <button  class="bn30"> <span translate> buttons.consult_details</span></button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>



  </div>
 <div class="col-4">

  </div>
</div>
</div>
