<div class="main-container">

  <!-- break -->
  <div class="body-content">
    <div class="main-title">
    </div>
    <div class="main">
      <div class="card bg-danger">
        <p>DECLARATION</p>
        <p class="num">1212</p>
        <p>Status: REJETE</p>
      </div>
      <div class="card">
        <p>DECLARATION</p>
        <p class="num">42122</p>
        <p>Status: ACCEPTE</p>
      </div>
      <div class="card">
        <p>DECLARATION</p>
        <p class="num">100151</p>
        <p>Status: ACCEPTE</p>
      </div>
    </div>
  </div>
</div>
