<div class="row">
  <div class="col-8">
    <a href="#" class="data-card accept">
      <h3>  <i class="fa fa-check-circle my-icon"></i>
        0</h3>
      <h4>Demandes acceptés </h4>
      <span class="link-text">
        Consulter tous <i class="fa fa-arrow-right"></i>

      </span>
    </a>
    <a href="#" class="data-card rejected">
      <h3> <i class="fa fa-minus-circle"></i>
        4</h3>
      <h4>Demandes rejetés</h4>
      <span class="link-text">
        Consulter tous
        <i class="fa fa-arrow-right"></i>
      </span>
    </a>
    <a href="#" class="data-card info">
      <h3>  <i class="fa fa-envelope my-icon"></i>1200</h3>
      <h4>Notification </h4>
      <span class="link-text">
        Consulter tous
        <i class="fa fa-arrow-right"></i>
      </span>
    </a>
    <a href="#" class="data-card">
      <h3>
        <i class="fa fa-spinner"></i>
        5</h3>
      <h4>
        Demandes en cours</h4>
      <span class="link-text">
        Consulter tous
        <i class="fa fa-arrow-right"></i>
      </span>
    </a>




    <div class="container">
    <div class="mb-5">
      <span class="card__title"> <i class="fa fa-clipboard-list"></i> Liste des contrats d’abonnements</span>
    </div>
    <div class="overflow-hidden">

       <div class="card mb-3"  *ngFor="let item of this.getDemands" >
        <div class="card-body">
          <div class="d-flex flex-column flex-lg-row">
            <span class="avatar avatar-text rounded-3 me-4 mb-2">FD</span>
            <div class="row flex-fill">
              <div class="col-sm-5">
                <h2>{{item.title}}</h2>
                <span class="Status">Status</span> : <span>{{item.status}}</span>
              </div>
              <div class="col-sm-4 py-2 calendar">
                <i class="fa fa-calendar fa-lg"></i>
                {{item.createdAt | date:'yyyy-MM-dd'}}</div>
              <div class="col-sm-3 text-lg-end">
                <a routerLink="/dashboard/customer/reclamation/{{item.id}}">
                  <button  class="bn30"> <span>Voir details</span></button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
 <div class="col-4">

  </div>
</div>
</div>
