.data-card {
  display: inline-flex;
  flex-direction: column;
  max-width: 25.75em;
  min-height: 10.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, .1);
  transition: transform 0.45s ease, background 0.45s ease;
}

.accept {
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);

}

.rejected {
  background-color: #ff7878;
  background-image: linear-gradient(315deg, #ff7878 0%, #ff0000 74%);

}

.info {
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

.data-card h3 {
  color: #0f171a;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #030303;
  transition: color 0.45s ease, border 0.45s ease;
}

.data-card h4 {
  color: #14181f;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color 0.45s ease;
}

.data-card p {
  opacity: 0;
  color: #fff;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
}

.data-card .link-text {
  display: block;
  color: #160529;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color 0.45s ease;
}


.data-card .link-text svg {
  margin-left: 0.5em;
  transition: transform 0.6s ease;
}

.data-card .link-text svg path {
  transition: fill 0.45s ease;
}

.data-card:hover {
  /* background: #cdaff1;*/
  transform: scale(1.02);
}

.data-card:hover h3 {
  color: rgb(0, 0, 0);
  border-bottom-color: #fffeff;
}

.data-card:hover h4 {
  color: rgb(0, 0, 0);
}

.data-card:hover p {
  opacity: 1;
  transform: none;
}

.data-card:hover .link-text {
  color: rgb(54, 52, 52);
}

.data-card:hover .link-text svg {
  animation: point 1.25s infinite alternate;
}

.data-card:hover .link-text svg path {
  fill: #fff;
}

@keyframes point {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0.125em);
  }
}



/*
  CSS
Button
*/

.bn30 {
  border: 2em;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.4em 1em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
 margin-top: 15px;
  color: rgb(216, 214, 214);
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: transparent;

}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}






















.card__icon {
  background: linear-gradient(to top, #4136f1, #8643ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.card__title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  display: block;
}
.scrollist {
  overflow:scroll;
  max-height: 300px;
 min-width: 500px;

 }

h2{
  text-transform: uppercase;


}

.Status {
  font-size: 18px;
  color: #fb0098;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
.calendar {
  color: #4b41f1;
}

.card__list-item__info span.request {
  color: #f16641;
}
