@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

span {
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bolder;
}



.navbar-brand{
  background: -webkit-linear-gradient(120deg, #71b7e6, #bd9dca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 30px;
}
.navbar-nav > li {
  padding-left: 25px;
  padding-right: 25px;
}

.mr-auto {
  margin-left: auto !important;
}
i {
  font-size: 20px;
}


.nav-link {
  color: rgba(53, 49, 49, 0.87);
  padding: 20px;
}
.nav-link:hover {
 /* border-color: rgba(8, 8, 8, 0.87);
  border: 0.5px solid;*/
  background: -webkit-linear-gradient(135deg, #71b7e6, #9b59b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}
@media (max-width: 1000px){
i{
  display: none;
}
span{
  font-size: 15px;
}
}
