<div class="header">
  <h1>Info demande</h1>
  <h1>{{demand.title}}</h1>

  <hr>
</div>
<div class="row1-container">
  <div class="box box-down cyan">
    <h2>Lieu</h2>

    <p>Rue : {{demand.address.Street}}
      <br>Ville : {{demand.address.City}}
      <br>Gouvernorat : {{demand.address.State}}
      <br>Pays : {{demand.address.Country}}
    </p>
    <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">

  </div>

  <div class="box red">
    <h2>Votre description</h2>
    <p>{{demand.description}}</p>
    <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">

  </div>

  <div class="box box-down blue">
    <h2>Date de publication</h2>
    <p>{{demand.createdAt | date:'yyyy-MM-dd'}}</p>
    <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
  </div>
</div>
<div class="row2-container">
  <div class="box orange">
    <h2>Status de cette demande</h2>
    <p>{{status}}</p>
    <i *ngIf="icon == 2"class="fas fa-spinner fa-pulse" style="font-size: 50px;"></i>
    <i *ngIf="icon == 0"class="fa fa-ban" aria-hidden="true" style="font-size: 50px;"></i>
    <i *ngIf="icon == 1" class="fa-solid fa-triangle-person-digging fa-beat-fade" style="font-size: 50px;"></i>


  </div>
</div>
