
@media (max-width: 600px) {
  h1 {
      font-size: 1.5rem;
  }
  h2 {
    font-size: 20px;

  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.box {
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
}

img {
  float: right;
}

@media (max-width: 600px) {
  .box {
    display: inline;
  }
  img{visibility: hidden;}
}

@media (max-width: 950px) and (min-width: 600px) {
  .box {
      text-align: center;
      height: 300px;

  }
  img{visibility: hidden;}
}





@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;}

  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 20%;

  }
  .header p {
      width: 30%;
  }

}
p{ text-align: justify;
  text-justify: inter-word;
}
