<section class="min-h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="logo">
        <h1 class="mb-5 text-center text-uppercase" translate>
         titles.customers
        </h1>
      </div>

      <!--End nav-->
      <!--Start content-->
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">




          <article class="postcard light" *ngFor="let item of usersList" >
            <a class="postcard__img_link" [routerLink]="['/dashboard/manager/userProfil',item.id]">
              <img class="postcard__img"
                src="
                https://wallpaperaccess.com/full/237583.jpg"
                alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue">
                <i class="fa fa-user"></i> {{item.firstName}}
              </h1>

              <div class="postcard__subtitle small">
                <i class="fas fa-phone"></i>
               <strong>(+216) {{item.tel}} </strong>
              </div>

              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">

              </div>
              <ul class="postcard__tagbox">
                <li class="tag__item">
                  <a [routerLink]="['/dashboard/manager/detailCustomer', item.id]" translate><i class="fas fa-info-circle" ></i>
                 buttons.consult_details
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </div>



      </div>
    </div>
  </div>
</section>
