<section class="h-100">
  <div class="container">
    <span>
      <img src="assets/images/gest.png" alt="Sample photo" height="60px" width="100px" style="text-align: center" />
    </span>
    <div class="title" translate>titles.update_pro</div>
    <div class="content">
      <form [formGroup]="updateForm" (ngSubmit)="Update()" novalidate>
        <div class="user-details">
          <div class="input-box">
            <span class="details" translate>input.titles.firstname</span>
            <input type="text" formControlName="firstName" placeholder="{{'input.msg.firstname'| translate}}"
              data-rule="required" />
            <!--FisrtName errors-->
            <p class="ErrorMsg" *ngIf="
                !firstName?.valid && (firstName?.dirty || firstName?.touched)
              " translate>
              errors.req_error
            </p>
            <p translate *ngIf="firstName?.errors?.['pattern']" class="ErrorMsg" translate>
              errors.alph_error
            </p>
            <!------------>
          </div>
          <div class="input-box">
            <span class="details" translate>input.titles.lastname</span>
            <input type="text" formControlName="lastNamme" placeholder="{{'input.msg.lastname'| translate}}" />
            <!--FisrtName errors-->
            <p class="ErrorMsg" *ngIf="
                !lastNamme?.valid && (lastNamme?.dirty || lastNamme?.touched)
              " translate>
              errors.req_error
            </p>
            <p *ngIf="lastNamme?.errors?.['pattern']" class="ErrorMsg" translate>
              errors.alph_error
            </p>
            <!------------>
          </div>
          <div class="input-box">
            <span class="details" translate>input.titles.email</span>
            <input type="email" formControlName="identifier" placeholder="{{'input.msg.email'| translate}}" />
            <!--identifier errors-->
            <p class="ErrorMsg" *ngIf="
                !identifier?.valid && (identifier?.dirty || identifier?.touched)
              " translate>
              errors.req_error
            </p>
            <p *ngIf="identifier?.errors?.['email']" class="ErrorMsg" translate>
              errors.email_patt
            </p>
            <!------------>
          </div>

          <div class="input-box">
            <span class="details" translate>input.titles.tel</span>
            <input type="number" formControlName="tel" placeholder="{{'input.titles.tel'|translate}}" />
            <!--Tel errors-->
            <p class="ErrorMsg" *ngIf="!tel?.valid && (tel?.dirty || tel?.touched)" translate>
              errors.req_error
            </p>
            <p *ngIf="tel?.errors?.['pattern']" class="ErrorMsg" translate>
              errors.error_chiff
            </p>
            <!------------>
          </div>

          <div class="input-box">
            <span class="details" translate>location.country</span>
            <input type="text" [disabled]="true" formControlName="country" value="Tunisie" />
            <!--Country errors-->
            <p class="ErrorMsg" *ngIf="!counrty?.valid && (counrty?.dirty || counrty?.touched)" translate>
              errors.req_error
            </p>

            <!------------>
          </div>
          <div class="input-box">
            <span class="details" translate>location.governorate</span>
            <select formControlName="state" (change)="loadCities()">
              <option *ngFor="let item of states" [value]="item">{{item}}</option>
            </select>

            <!--Zip code errors-->
            <p class="ErrorMsg" *ngIf="!state?.valid && (state?.dirty || state?.touched)" translate>
              errors.req_error
            </p>

            <!------------>
          </div>
          <div class="input-box">
            <span class="details" translate>location.city</span>
            <select formControlName="city">
              <option *ngFor="let item of cities" [value]="item">{{item}}</option>
            </select>


            <!--Ville errors-->
            <p class="ErrorMsg" *ngIf="!city?.valid && (city?.dirty || city?.touched)" translate>
              errors.req_error
            </p>

            <!------------>
          </div>
          <div class="input-box">
            <span class="details" translate>location.postal_code</span>
            <input type="text" formControlName="zipCode" placeholder="{{'location.postal_code'|translate}}" />

            <!--Zip code errors-->
            <p class="ErrorMsg" *ngIf="!zipCode?.valid && (zipCode?.dirty || zipCode?.touched)" translate>
              errors.req_error
            </p>

            <!------------>
          </div>

          <div class="input-box">
            <span class="details" translate>location.street</span>
            <input type="text" formControlName="street" placeholder="{{'location.street'|translate}}" />
            <!--Street errors-->
            <p class="ErrorMsg" *ngIf="!street?.valid && (street?.dirty || street?.touched)" translate>
              errors.req_error
            </p>

            <!------------>
          </div>

          <div class="input-box">
            <span class="details" translate>input.titles.password</span>
            <input type="password" formControlName="password" placeholder="{{'input.titles.password'|translate}}" />
            <!--pwd errors-->
            <p class="ErrorMsg" *ngIf="!password?.valid && (password?.dirty || password?.touched)" translate>
              errors.req_error
            </p>
            <p *ngIf="password?.errors?.['pattern']" class="ErrorMsg" translate>
              errors.alph_8error </p>

            <!------------>
          </div>
          <div class="input-box">
            <span class="details" translate>input.titles.confirm_password</span>
            <input type="password" placeholder="{{'input.titles.confirm_password'|translate}}"
              placeholder="Confirmer votre mot de passe" />
            <p class="ErrorMsg" *ngIf="
                !confirm_password?.valid &&
                (confirm_password?.dirty || confirm_password?.touched)
              " translate>
              errors.req_error
            </p>
            <p *ngIf="updateForm.hasError('ConfirmedValidator')" class="ErrorMsg" translate>
              errors.error_confirm
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-end pt-3">
          <button class="bn632-hover bn24" type="submit" role="button" [disabled]="!updateForm.valid" translate>
            buttons.edit
          </button>

        </div>


      </form>
      <span class="extra-line">
        <a routerLink="/dashboard/customer/changePassword" translate>titles.update_Pass  </a>
      </span>
    </div>
  </div>
</section>
