<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="logo">
            <span><img src="assets/images/gest.png" alt="Sample photo" height="60px" width="100px" /></span>

            <div class="card-title">
              <span class="title" translate> titles.update_int</span>
            </div>
          </div>
          <form [formGroup]="UpdateInterventionForm" (ngSubmit)="Update()" novalidate>
            <div class="row g-0">
              <div class="col-xl-6 d-xl-block">
                <div class="card-body p-md-5 text-black">
                  <div class="form-outline">
                    <label class="form-label" translate>input.titles.title</label>

                    <input type="text" formControlName="title" class="form-control form-control-lg"
                      placeholder="{{'input.msg.material'|translate}}" />
                    <!--Error Title-->
                    <p *ngIf="(title?.touched || title?.dirty) && !title?.valid" class="ErrorMsg" translate>
                      errors.req_error
                    </p>
                    <p *ngIf="title?.errors?.['pattern']" class="ErrorMsg" translate>
                     errors.alph_2error
                    </p>
                    <!----------->
                  </div>
                  <div class="form-outline">
                    <label class="form-label" translate>status.title</label>
                    <select formControlName="status" class="form-select" (change)="chechIsNow()" required>
                      <option *ngFor="let item of statusList" [value]="item.value">
                        {{item.key}}
                      </option>

                    </select>
                    <!--Error category-->
                    <p *ngIf="
                        (status?.touched || status?.dirty) &&
                        !status?.valid" class="ErrorMsg" translate>
                        errors.req_error
                    </p>
                  </div>
                  <div class="form-outline">
                    <label class="form-label" translate> input.titles.which_date</label>

                    <input type="date" formControlName="date" class="form-control form-control-lg" name="" id="" />

                    <p *ngIf="(date?.touched || date?.dirty) && !date?.valid" class="ErrorMsg">
                      errors.req_error
                    </p>

                    <p *ngIf="
                    UpdateInterventionForm.hasError('DateConfirmation')
                      " class="ErrorMsg" translate>
                      errors.date_error
                    </p>
                  </div>
                  <div class="form-outline">
                    <label class="form-label" translate>input.titles.category</label>
                    <select formControlName="category" class="form-select">
                      <option *ngIf="categoryList.length==0" translate>errors.null_cat</option>

                      <option *ngFor="let item of categoryList" [value]="item.id">
                        {{ item.name }}
                      </option>
                    </select>
                    <!--Error category-->
                    <p *ngIf="
                        (category?.touched || category?.dirty) &&
                        !category?.valid
                      " class="ErrorMsg" translate>
                      errors.req_error
                    </p>
                    <div *ngIf="categoryList.length==0">

                      <a class="nullValueLink" routerLink="/dashboard/manager/categorylist" translate>titles.add_category
                      </a>
                    </div>
                  </div>

                  <div class="form-outline">
                    <label class="form-label" translate>input.titles.team</label>
                    <select formControlName="team" class="form-select" aria-label="Default select example" >
                    <option *ngIf="teamList.length==0" translate>errors.null_team</option>
                      <option  *ngFor="let item of teamList" [value]="item.id">
                        {{ item.name }}
                      </option>
                    </select>
                    <!--Error team-->
                    <p *ngIf="(team?.touched || team?.dirty) && !team?.valid" class="ErrorMsg" translate>
                      errors.req_error
                    </p>
                    <!----------->
                    <div *ngIf="teamList.length==0">
                      <a class="nullValueLink" routerLink="/dashboard/manager/addTeam" translate>titles.add_team
                      </a>
                    </div>
                  </div>


                  <div class="form-outline">
                    <label class="form-label" translate>input.titles.description</label>

                    <textarea formControlName="description" class="form-control form-control-lg"
                      placeholder="{{'input.msg.designation'|translate}}" rows="6"></textarea>
                    <!--Error description-->
                    <p *ngIf="
                        (description?.touched || description?.dirty) &&
                        !description?.valid
                      " class="ErrorMsg" translate>
                      errors.req_error
                    </p>
                    <p *ngIf="description?.errors?.['pattern']" class="ErrorMsg" translate>
                     errors.alph_8error
                    </p>
                    <!----------->
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <fieldset>
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="pays" translate> location.country </label>
                          <input name="value" type="text" [readonly]="true"
                            formControlName="country"
                            class="form-control form-control-lg"
                          />
                          <!--Country errors-->
                          <p
                            class="ErrorMsg"
                            *ngIf="
                              !counrty?.valid &&
                              (counrty?.dirty || counrty?.touched)
                            "
                       translate  >
                            errors.req_error
                          </p>

                          <!------------>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="state" translate>
                            location.governorate</label> <br>

                          <select formControlName="state" (change)="loadCities()">
                            <option *ngFor="let item of states"  [value]="item">{{item}}</option>
                          </select>

                          <!--Zip code errors-->
                          <p
                            class="ErrorMsg"
                            *ngIf="
                              !state?.valid && (state?.dirty || state?.touched)
                            " translate
                          >
                            errors.req_error
                          </p>

                          <!------------>
                        </div>

                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" translate> location.city</label><br>
                          <select   formControlName="city">
                            <option *ngFor="let item of cities" [value]="item">{{item}}</option>
                          </select>

                          <!--Ville errors-->
                          <p
                            class="ErrorMsg"
                            *ngIf="
                              !city?.valid && (city?.dirty || city?.touched)
                            "
                         translate >
                            errors.req_error
                          </p>

                          <!------------>
                        </div>

                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="code postal" translate
                            >location.postal_code</label
                          >

                          <input
                            type="text"
                            formControlName="zipCode"
                            placeholder="{{'location.postal_code'|translate}}"
                            class="form-control form-control-lg"
                          />

                          <!--Zip code errors-->
                          <p
                            class="ErrorMsg"
                            *ngIf="
                              !zipCode?.valid &&
                              (zipCode?.dirty || zipCode?.touched)
                            "
                        translate  >
                            errors.req_error
                          </p>

                          <!------------>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="Rue" translate> location.street </label>
                          <input
                            type="text"
                            formControlName="street"
                            placeholder="{{'location.street'|translate}}"
                            class="form-control form-control-lg"
                          />
                          <!--Street errors-->
                          <p
                            class="ErrorMsg"
                            *ngIf="
                              !street?.valid &&
                              (street?.dirty || street?.touched)
                            "
                        translate  >
                            errors.req_error
                          </p>

                          <!------------>
                        </div>
                      </div>
                    </div>
                  </fieldset>

                  <div class="form-outline">
                    <label class="form-label" translate> input.titles.materials</label>

                    <ng-multiselect-dropdown formControlName="Materiel" [placeholder]="'input.msg.mat_select'|translate"
                      [settings]="dropdownSettings" [data]="materialsList" (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)" class="form-control-lg">
                    </ng-multiselect-dropdown>
                    <p *ngIf="
                        (Materiel?.touched || Materiel?.dirty) &&
                        !Materiel?.valid
                      " class="ErrorMsg">
                      errors.req_error
                    </p>
                    <div *ngIf="materialsList.length==0">

                      <a class="nullValueLink" routerLink="/dashboard/manager/addMaterial" translate>titles.add_material
                      </a>
                    </div>
                  </div>

                  <div class="d-flex justify-content-end pt-3"  (mouseover)="check()">
                    <button class="bn632-hover bn24" type="submit" role="button"
                      [disabled]="UpdateInterventionForm.invalid" translate >
                      buttons.edit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
