
<section class="h-100 bg-light" style="height: 100vh;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="logo">
            <div class="card-title text-center">
              <span><img src="assets/images/gest.png" alt="Sample photo" height="60px" width="100px" /></span>

              <span class="mb-5 text-uppercase">modifier l'intervention ___ </span>
            </div>
          </div>
          <form [formGroup]="updateInterventionForm" (ngSubmit)="Update()" novalidate >
            <div class="row g-0">
              <div class="col-xl-6  d-xl-block">
                <div class="card-body p-md-5 text-black">
                  <div class="form-outline">
                    <label class="form-label">Titre</label>

                    <input type="text" formControlName="title" class="form-control form-control-lg"
                      placeholder="Entrez le nom de materiel" />
                         <!--Error Title-->
                    <p *ngIf="(title?.touched|| title?.dirty ) && !title?.valid" class="ErrorMsg"> Ce champ est
                      obligatoire</p>
                    <p *ngIf="title?.errors?.['pattern']" class="ErrorMsg"> vous devez entrez au minimun deux
                      caractéres</p>
                    <!----------->
                  </div>
                  <div class="form-outline">
                    <label class="form-label"> A quelle date</label>

                    <input type="date" formControlName="date" class="form-control form-control-lg" name="" id="">

                    <p *ngIf="(date?.touched|| date?.dirty ) && !date?.valid" class="ErrorMsg"> Ce champ est
                      obligatoire</p>

                    <p *ngIf="updateInterventionForm.hasError('DateConfirmation')" class="ErrorMsg"> date choisi est incorrecte </p>
                  </div>
                  <div class="form-outline">
                    <label class="form-label">Désignation</label>

                    <textarea formControlName="description" class="form-control form-control-lg"
                      placeholder="Ecrivez ..." rows="6"></textarea>
                                 <!--Error description-->
                    <p *ngIf="(description?.touched|| description?.dirty ) && !description?.valid" class="ErrorMsg"> Ce champ est
                      obligatoire</p>
                    <p *ngIf="description?.errors?.['pattern']" class="ErrorMsg"> vous devez entrez au minimun dix
                      caractéres</p>
                    <!----------->
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">



                  <div class="form-outline">
                    <label class="form-label">Categorie</label>

                    <select formControlName="category"  class="form-select" aria-label="Default select example">
                      <option value="1">categorie1</option>
                    </select>
                          <!--Error category-->
             <p *ngIf="(category?.touched|| category?.dirty ) && !category?.valid" class="ErrorMsg"> Ce champ est
                            obligatoire</p>
                  </div>
                  <div class="form-outline">
                    <label class="form-label">Equipe</label>
                    <select  formControlName="team"  class="form-select" aria-label="Default select example">
                    <option value="1">One</option>
                    </select>
                                <!--Error team-->
             <p *ngIf="(team?.touched|| team?.dirty ) && !team?.valid" class="ErrorMsg"> Ce champ est
              obligatoire</p>
                <!----------->
                  </div>
                  <div class="form-outline">
                    <label class="form-label"> Materiels</label>

                    <ng-multiselect-dropdown formControlName="Materiel" [placeholder]="'Selectionner materiels'"
                      [settings]="dropdownSettings" [data]="dropdownList" (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)" class=" form-control-lg">
                    </ng-multiselect-dropdown>
                    <p *ngIf="(Materiel?.touched|| Materiel?.dirty ) && !Materiel?.valid" class="ErrorMsg"> Ce champ est
                      obligatoire</p>

                  </div>
                  <div class="d-flex justify-content-end pt-3">
                    <button class="button-82-pushable"type="submit" [disabled]="!updateInterventionForm.valid" role="button">
                      <span class="button-82-shadow"></span>
                      <span class="button-82-edge"></span>
                      <span class="button-82-front text">
                        Créer
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
