<div class="row">
  <div class="col"></div>
  <div class="col-6">
    <h1 class="text-uppercase text-center" translate>
      titles.detail_category
    </h1>

    <!--OR-->
    <h5  *ngIf="interventionList != null" [translate]="'input.msg.msg_interv'" [translateParams]="{'interventionList': interventionList.length}"></h5>

    <!--OR-->


    <hr />
    <div class="posts">
      <article class="post text-uppercase" *ngFor="let item of interventionList">
        <div class="thumbnail"></div>
        <strong class="author text-uppercase">{{ item.title }}</strong>

        <small class="time calendar" translate>
          <i class="fa fa-calendar-check"></i> titles.started_at: &nbsp;
          <time>{{ item.startedAt }}</time></small>
        <span class="content team">
          <i class="fa fa-users"></i> {{ item.team.name }}</span>
      </article>

    </div>
  </div>
  <div class="col"></div>
</div>
