.card {
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);

  padding: 25px 30px;
}

.card-text{font-size: 20px;}
h3{  background: -webkit-linear-gradient(120deg, #71b7e6, #bd9dca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 35px;
}
