.card {
  border: 0;
  padding: 10px 10px;
}

.card-text {
  font-size: 20px;
}

h3 {
  background: -webkit-linear-gradient(120deg, #71b7e6, #bd9dca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  font-size: 35px;
}

span {
  text-transform: capitalize;
}

.map {
  height: 50vh;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-between;
}

.content-area {
  height: 80%;
}

.demo-area {
  height: 70vh;
  margin-right: auto;
  margin-left: auto;
}
