
<section class="min-h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="logo">
            <div class="card-title text-center">

              <h1 class="mb-5 text-uppercase"> Detail materiel </h1>
            </div>
          </div>

          <div class="row g-2">



            <div class="col-xl-6  d-xl-block">
              <div class="card-body p-md-5 text-black">

                <h3 class="card-title"><i class="fas fa-list-alt"></i>&nbsp;Désignation</h3>

                <p class="card-text">
                  {{material.name}}

                </p>

              </div>

              <div class="card-body p-md-5 text-black">
                <h3 class="card-title"><i class="fas fa-info-circle"></i>&nbsp;Description</h3>

                <p class="card-text">
                  {{material.description}}

                </p>



              </div>

            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="card-title"><i class="fas fa-question-circle"></i> &nbsp;Status</h3>

                <p class="card-text"> {{material.status}}</p>
                <p class="card-text">  IS ON</p>
                <h3 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Localisation</h3>
                <p class="card-text">Rue : {{material.address.Street}}
                  <br>Ville : {{material.address.City}}
                  <br>Gouvernorat : {{material.address.State}}
                  <br>Pays : {{material.address.Country}}
                </p>

                <p class="card-text">
                  {{material.dateOfPurchase}}</p>



              </div>

            </div>

          </div>
          <div class="d-flex justify-content-end pt-3">
            <button (click)="changeStatus()" class="bn632-hover bn24"type="submit"  role="button">{{btn}}</button>
        </div>

        </div>
      </div>
    </div>
  </div>
</section>
