

<main>
  <h3 class="display-name"  translate> <i class="fa fa-list-alt" translate></i>
    titles.detail_demand</h3>

  <div>
    <div class="profile resposive">
      <div class="profile-header">
        <div class="profile-info">
          <div class="profile-img">
            <img src="https://freepngimg.com/thumb/tie/21990-7-tie-transparent-background.png" height="150px" width="150px"/>
           <h4> {{user.firstName}} {{user.lastName}}</h4>
          </div>
           <div class="actions">
            <div class="about">
              <ul>
                <li><h3> <i class="fa fa-envelope-open-text"></i></h3> <span class="about-value">{{user.identifier}}</span></li>
                <li><h3> <i class="fa fa-phone"></i></h3>
                 <span class="about-value">(+216)  {{user.tel}}</span>
                </li>
                <li><h3> <i class="fa fa-map-marker-alt"></i>  </h3>
                  <span class="about-value"> {{user.address.ZipCode}},{{user.address.Street}},{{user.address.City}},{{user.address.State}},{{user.address.Country}}
                  </span>
                </li>
              </ul>
            </div>

             </div>
        </div>

      </div>

    </div>

  </div>
  <div class="posts">

    <article class="post" *ngFor="let item of demandList">
      <div class="thumbnail"></div>
      <strong class="author">{{item.title}}</strong>
      <small class="time calendar"> <i class="fa fa-calendar-check"></i> <time>{{item.createdAt | date:'dd-MM-yyyy'}}</time></small>
      <span class="content status">  <i class="fa fa-info-circle"></i> {{status(item)}}</span>
    </article>



  </div>
</main>







