

<main>
  <h3 class="display-name"> <i class="fa fa-list-alt"></i> Les reclamation envoyés</h3>

  <div>
    <div class="profile resposive">
      <div class="profile-header">
        <div class="profile-info">
          <div class="profile-img">
            <img src="https://img.freepik.com/photos-gratuite/photo-gros-plan-jeune-homme-affaires-prospere-costume-noir_171337-9509.jpg?w=2000" height="150px" width="150px"/>
            <h4>Foulen ben foulen</h4>
           <h4> {{user.firstName}} {{user.lastName}}</h4>
          </div>
           <div class="actions">
            <div class="about">
              <ul>
                <li><h3> <i class="fa fa-envelope-open-text"></i></h3> <span class="about-value">hichel@kdkkdk.com</span></li>
                <li><h3> <i class="fa fa-phone"></i></h3> <span class="about-value">(+216) 21524668</span>
                 <span class="about-value">(+216)  {{user.tel}}</span>
                </li>
                <li><h3> <i class="fa fa-map-marker-alt"></i>  </h3><span class="about-value">2087,rue de boustan ,Tunis,Tunisie</span><br>
                  <span class="about-value"> {{user.address.ZipCode}},{{user.address.Street}},{{user.address.City}},{{user.address.State}},{{user.address.Country}}
                  </span>
                </li>
              </ul>
            </div>

             </div>
        </div>

      </div>
      <div class="profile-content">
      </div>
    </div>

  </div>


  <div class="posts">

    <article class="post">
      <div class="thumbnail"></div>
      <strong class="author">Reclamation de rerefence 1</strong>
      <small class="time calendar"> <i class="fa fa-calendar-check"></i> Date: <time>25/21/2021</time></small>
      <span class="content status">  <i class="fa fa-info-circle"></i> Status: en cours</span>
    </article>
    <article class="post">
      <div class="thumbnail"></div>
      <strong class="author">Reclamation de rerefence 1</strong>
      <small class="time calendar"> <i class="fa fa-calendar-check"></i> Date: <time>25/21/2021</time></small>
      <span class="content status">  <i class="fa fa-info-circle"></i> Status: Rejeté</span>
    </article>
    <article class="post">
      <div class="thumbnail"></div>
      <strong class="author">Reclamation de rerefence 1</strong>
      <small class="time calendar"> <i class="fa fa-calendar-check"></i> Date: <time>25/21/2021</time></small>
      <span class="content status">  <i class="fa fa-info-circle"></i> Status: en attente</span>
    </article>


  </div>
</main>







