<div class="row">
  <div class="col">
    <div class="pagination">
    <button class="page-item ">
      <a class="page-link" >Previous</a>
    </button>
    <button class="page-item"><a class="page-link" href="#">1</a></button>
    <button class="page-item active" aria-current="page">
      <a class="page-link" href="#">2</a>
    </button>
    <button class="page-item"><a class="page-link" href="#">3</a></button>
    <button class="page-item">
      <a class="page-link" >Next</a>
    </button>
  </div></div>
  <div class="col"></div>
</div>
