<div class="container py-5 h-100">
  <div class="row">
    <div class="col-8">
      <h1 class="text-uppercase text-center" translate>titles.categories</h1>
      <div class="card" *ngFor="let item of listCategorie">
        <div class="card-text">
          <div class="portada"></div>
          <div class="title-total">
            <h3>{{ item.name }}</h3>

            <div class="actions">
              <div class="d-flex justify-content-start">
   <a [routerLink]="['/dashboard/manager/detailCategory',item.id]">
              <button class="bn30" translate>buttons.consult</button></a>
              </div>
  </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-4">
      <div class="row mb-4">
        <div class="card card2">
          <h2 class="card-title span text-uppercase" translate>
           titles.cat_question
          </h2>

          <h2 class="card-title cd" translate>titles.add_category</h2>

          <form [formGroup]="categorieForm" (ngSubmit)="addCategorie()">
            <div class="form-group">
              <label for="categorie" translate>input.titles.title</label>

              <input
                type="text"
                formControlName="categorie"
                class="form-control"
                placeholder="{{'input.msg.category'|translate}}"
              />
              <p
                class="ErrorMsg"
                *ngIf="!categorie?.valid && (categorie?.dirty || categorie?.touched)
                " translate
              >
                errors.req_error
              </p>

            </div>
            <div class="d-flex justify-content-start">
              <button type="submit" class="bn30" translate>buttons.add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
