
<!--FOOTER-->
<footer>
  <div class="top_header">
  <section>
  <span><i class="fa fa-map-marker"></i></span>
  <span>81 Av. Kheireddine Pacha, Montplaisir,Tunis</span>
  </section>
  <section>
  <span><i class="fa fa-phone"></i></span>
  <span>(+216) 51 890 568</span>
  </section>
  <section>
  <span><i class="fa fa-envelope"></i></span>
  <span>info@GestIntern.com</span>
  </section>
  </div>
  <span class="border-shape"></span>
  <div class="bottom_content">
  <section>
  <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-google"></i></a>

  </section>
  <section>
  <a href="#">Acceuil</a>
  <a href="#">A propos de nous</a>
  <a href="#">Nos équipes</a>
  <a href="#">Contactez nous</a>


  </section>
  </div>
  <div class="copyright">
  Copyright © 2021 GestIntern - All rights reserved
  </div>
  </footer>
