<div class="container min-h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="logo">
        <h1 class="mb-5 text-center text-uppercase" translate>
          titles.interventions_list

        </h1>
      </div>
      <div class="tab_container">
        <input id="tab1" type="radio" (click)="allByStatus('In_Progress')" name="tabs" >
        <label for="tab1" translate> <i class="fa-lg fas fa-sync fa-spin"></i>
          buttons.in_prog</label>

        <input id="tab2" type="radio" (click)="allByStatus('Waiting')" name="tabs">
        <label for="tab2" translate>  <i class="fa-lg fas fa-spinner"></i>
          buttons.waiting</label>

        <input id="tab3" type="radio" name="tabs" checked>
        <label for="tab3" translate><i class="fa fa-map"></i> titles.geo_carte </label>

        <section id="content1" class="tab-content">



          <article class="postcard light" *ngFor="let item of interventionList">
            <a class="postcard__img_link" [routerLink]="[
              '/dashboard/manager/detailIntervention',
              item.id
            ]">
              <img class="postcard__img"
                src="
                  https://images.unsplash.com/photo-1593436878396-e943a3cac98f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue">
                <a href="#"> {{ item.title }} </a>
              </h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00" >
                  <i class="fas fa-calendar-alt mr-2"></i>  &nbsp; <strong translate>titles.started_at</strong>:
                  {{ item.startedAt }}
                </time>
              </div>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-check"></i> &nbsp; <strong translate> input.titles.end_date</strong>:
                  {{ item.expiredAt }}
                </time>
              </div>

              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">
                <strong translate>input.titles.category</strong>:

                <strong > {{ item.category.getName() }}</strong>
              </div>
              <ul class="postcard__tagbox">
                <li class="tag__item">
                  <a [routerLink]="[
                    '/dashboard/manager/detailIntervention',
                    item.id
                  ]" translate><i class="fas fa-info-circle"></i>buttons.consult_details</a>
                </li>
                <li class="tag__item play blue">
                  <a [routerLink]="[
                '/dashboard/manager/updateIntervention',
                item.id
              ]" translate><i class="fas fa-edit"></i>buttons.edit</a>
                </li>
                <li class="tag__item play blue">
                  <a [routerLink]="[
                '/dashboard/manager/closeIntervention',
               item.id
              ]" translate><i class="fa fa-lock"></i>buttons.close</a>
                </li>
              </ul>
            </div>
          </article>
        </section>

        <section id="content2" class="tab-content" *ngIf="hasResult">
          <article class="postcard light" *ngFor="let item of interventionList">
            <a class="postcard__img_link" [routerLink]="[
              '/dashboard/manager/detailIntervention',
              item.id
            ]">
              <img class="postcard__img"
                [src]="img" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue">
                <a href="#"> {{ item.title }} </a>
              </h1>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00" >
                  <i class="fas fa-calendar-alt mr-2"></i>  &nbsp; <strong translate>titles.started_at</strong>:
                  {{ item.startedAt }}
                </time>
              </div>
              <div class="postcard__subtitle small">
                <time datetime="2020-05-25 12:00:00">
                  <i class="fas fa-calendar-check"></i> &nbsp; <strong translate> input.titles.end_date</strong>
                  {{ item.expiredAt }}
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">
                <strong translate>input.titles.category</strong>:

                <strong > {{ item.category.getName() }}</strong>
              </div>
              <ul class="postcard__tagbox">
                <li class="tag__item">
                  <a [routerLink]="[
                    '/dashboard/manager/detailIntervention',
                    item.id
                  ]" translate><i class="fas fa-info-circle"></i>buttons.consult_details</a>
                </li>
                <li class="tag__item play blue">
                  <a [routerLink]="[
                '/dashboard/manager/updateIntervention',
                item.id
              ]" translate><i class="fas fa-edit"></i>buttons.edit</a>
                </li>
                <li class="tag__item play blue">
                  <a [routerLink]="[
                '/dashboard/manager/closeIntervention',
               item.id
              ]" translate><i class="fa fa-lock"></i>buttons.close</a>
                </li>
              </ul>
            </div>
          </article>
        </section>

        <section id="content3" class="tab-content">
          <div class="wrapper">
            <div class="content-area">
              <div>

              </div>
              <div id="map" class="map demo-area"></div>
            </div>
          </div>
        </section>


      </div>
      <app-pagination [paginationParams]="pagination"></app-pagination>
    </div>
