.card
{
margin-top: 10px;
}
select{
  width: 150%;
  background-color: #f6f6f6;
}

fieldset {
  border-radius: 10px 10px 0px 0px;
  border: 2px solid #ccc;

  margin-top: 90px;
  width: 90%;
  margin-left: 60px;
}
img {
  border-radius: 50%;
  }

.btn_pg{

 text-align: end;
 margin-top: 190px;

}

.nav-link{color: rgb(0, 0, 0);
height: 50px;
width: 410px;}
/* ________Radio _________*/

.radio {
  --border-radius: 50%;

  padding: 5px;
}

.checkbox {
  --border-radius: 0;

  padding: 5px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
  display: none;
}

.radio label, .checkbox label {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;

  border: 3px solid black;
  border-radius: var(--border-radius);

  box-sizing: border-box;
}

.radio label::before, .checkbox label::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 10px;
  height: 10px;

  border-radius: var(--border-radius);

  background-color: transparent;

  transform: translate(-50%, -50%);

  transition: background-color 0.25s;
}

.radio :checked ~ label::before, .checkbox :checked ~ label::before {
  background-color: grey;
}

.radio span, .checkbox span {
  color: grey;

  vertical-align: top;

  transition: color 0.25s;
}

.radio :checked ~ span, .checkbox :checked ~ span {
  color: rgb(228, 184, 42);
}

.card:hover {

  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;

}






.bn9 {
  padding: 2px;
  outline: 0;
  font-size: 17px;
  color: rgb(0, 0, 0);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fdde5c),
    color-stop(#f8ab5e),
    color-stop(#f56a62),
    color-stop(#a176c8),
    color-stop(#759beb),
    color-stop(#65beb3),
    to(#70db96)
  );
  background: linear-gradient(
    to right,
    #fdde5c,
    #f8ab5e,
    #f56a62,
    #a176c8,
    #759beb,
    #65beb3,
    #70db96
  );
  border-radius: 30px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.bn9 > span {
  display: block;
  padding: 10px 40px;
  font-size: 17px;
  font-weight: 500;
  background: #ebebeb;
  border-radius: 30px;
}
