
<section class="min-h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="row">
        <div class="col-8">
          <div class="logo">
            <span><img src="assets/images/gest.png" alt="Sample photo" height="60px" width="100px" /></span>
            <span class="mb-5 text-uppercase">Les équipes </span>
          </div>
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button (click)="showAll()" class="nav-link active " id="nav-home-tab" data-bs-toggle="tab"
                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">




                Tous

              </button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-selected="false">


                Disponible
              </button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

              <div *ngFor="let team of teamList" class="card">
                <div class="card-body">

                  <h5>{{team.name}} </h5>
                  <p> {{team.manager}} </p>


                  <div class="d-flex justify-content-end pt-3">
                    <a [routerLink]="['/manager/detailTeam']" [queryParams]="{id:team.id}"
                      queryParamsHandling="merge"><button class="bn9"><span>Consulter</span></button></a>

                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5> Equipe 1</h5>
                  <p>nom de chef d'equipe</p>

                  <div class="d-flex justify-content-end">
                    <a href="/buttons/9"><button class="bn9"><span>Consulter</span></button></a>

                  </div>
                </div>
              </div>


            </div>

            <!--nav 2-->

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <p class="text-center "> pas des interventions en attente en ce moment</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row mb-4">

            <!--    <div class=" form-group col-md-9">
              <input id="exampleFormControlInput5" type="search" placeholder="Chercher..."
                class="form-control rounded-pill p-2" />
            </div>

            <div class="form-group  col-md-3">
              <a href="/"><button class="bn30"><i class="fa fa-search"></i></button></a>
            </div>
-->
         <app-filtre></app-filtre>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
