@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

title{
  text-transform: capitalize !important;
}

.card {
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.15);

  padding: 25px 30px;
}

.title{

  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 110px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
select{
  border: 2px solid #9b59b6 !important;


  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;

  margin: 10px 0px;
  width: 70%;
  background-color: #f6f6f6;

  border: 2px solid #9b59b6;
  outline: 0;
  box-shadow: none;

  padding: 10px 5px;
  background-color: #f6f6f6;

}
.form-control{

  border: 2px solid #9b59b6 !important;


  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;

  margin: 10px 0px;
  width: 70%;
  background-color: #f6f6f6;

  border: 2px solid #9b59b6;
  outline: 0;
  box-shadow: none;

  padding: 10px 5px;
  background-color: #f6f6f6;}
