<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="logo">
            <span
              ><img
                src="assets/images/gest.png"
                alt="Sample photo"
                height="60px"
                width="100px"
            /></span>

            <div class="title">
              <span class="mb-5 text-uppercase">Créer une reclamation</span>
            </div>
          </div>
          <form
            [formGroup]="reclamationForm"
            (ngSubmit)="sendDemand()"
            novalidate
          >
            <div class="row g-0">
              <div class="col-xl-6 d-xl-block">
                <div class="card-body p-md-5 text-black">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1n">Titre</label>

                    <input
                      type="text"
                      id="form3Example1n"
                      class="form-control form-control-lg"
                      placeholder="Entrez le titre de reclamation"
                      formControlName="title"
                    />
                    <!--Error Title-->
                    <p
                      *ngIf="(Title?.touched || Title?.dirty) && !Title?.valid"
                      class="ErrorMsg"
                    >
                      Ce champ est obligatoire
                    </p>
                    <p *ngIf="Title?.errors?.['pattern']" class="ErrorMsg">
                      vous devez entrez au minimun deux caractéres
                    </p>
                    <!----------->
                  </div>
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1n"
                      >Désignation</label
                    >

                    <textarea
                      id="form3Example1n"
                      class="form-control form-control-lg"
                      placeholder="Ecrivez ..."
                      rows="6"
                      formControlName="description"
                    ></textarea>
                    <!--Error Description-->
                    <p
                      *ngIf="
                        (Description?.touched || Description?.dirty) &&
                        !Description?.valid
                      "
                      class="ErrorMsg"
                    >
                      Ce champ est obligatoire
                    </p>
                    <p
                      *ngIf="Description?.errors?.['minlength']"
                      class="ErrorMsg"
                    >
                      vous devez entrez au minimun 4 caractéres
                    </p>
                    <!----------->
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <!--    <div class="form-outline">
                    <label class="form-label"> A quelle date</label>
                    <input type="date" class="form-control form-control-lg" formControlName="createdAt">-->
                  <!--Error Date-
                    <p *ngIf="(createdAt?.touched|| createdAt?.dirty ) && !createdAt?.valid" class="ErrorMsg"> Ce
                      champ est obligatoire</p>
                    </div>
      --------->

                  <fieldset>
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="pays">Pays</label>
                          <input name="value" type="text"
  [readonly]="true"
                            formControlName="country"
                            class="form-control form-control-lg"
                          />
                          <!--Country errors-->
                          <p
                            class="ErrorMsg"
                            *ngIf="
                              !counrty?.valid &&
                              (counrty?.dirty || counrty?.touched)
                            "
                          >
                            ce champ est obligatoire
                          </p>

                          <!------------>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="state"
                            >Gouvernorat</label
                          >

                          <select  formControlName="Gouvernorat">
                            <option  value="">hjjjjj</option>
                          </select>

                          <!--Zip code errors-->
                          <p
                            class="ErrorMsg"
                            *ngIf="
                              !state?.valid && (state?.dirty || state?.touched)
                            "
                          >
                            ce champ est obligatoire
                          </p>

                          <!------------>
                        </div>

                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label">Ville</label><br>


                            <select formControlName="city">
                              <option  value="">hjjjjj</option>
                            </select>

                          <!--Ville errors-->
                          <p
                            class="ErrorMsg"
                            *ngIf="
                              !city?.valid && (city?.dirty || city?.touched)
                            "
                          >
                            ce champ est obligatoire
                          </p>

                          <!------------>
                        </div>

                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="code postal"
                            >Code postal</label
                          >

                          <input
                            type="text"
                            formControlName="zipCode"
                            placeholder="code postal"
                            class="form-control form-control-lg"
                          />

                          <!--Zip code errors-->
                          <p
                            class="ErrorMsg"
                            *ngIf="
                              !zipCode?.valid &&
                              (zipCode?.dirty || zipCode?.touched)
                            "
                          >
                            ce champ est obligatoire
                          </p>

                          <!------------>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="Rue">Rue</label>
                          <input
                            type="text"
                            formControlName="street"
                            placeholder="Rue"
                            class="form-control form-control-lg"
                          />
                          <!--Street errors-->
                          <p
                            class="ErrorMsg"
                            *ngIf="
                              !street?.valid &&
                              (street?.dirty || street?.touched)
                            "
                          >
                            ce champ est obligatoire
                          </p>

                          <!------------>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <div class="d-flex justify-content-end pt-3">
                    <button
                      class="bn632-hover bn24"
                      type="submit"
                      [disabled]="!reclamationForm.valid"
                    >
                      Reclamer
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
