<title translate>titles.reset</title>
<app-nav-bar></app-nav-bar>
<section>

  <div class="row">
    <h1 translate>titles.reset</h1>
    <form [formGroup]="resetPassword" (ngSubmit)="resetPass()">
      <div class="form-group">
        <p><label translate>input.titles.new_pass</label></p>
        <input type="password" formControlName="new_password" placeholder="{{'input.titles.new_pass'|translate}}"
          name="user_email" id="user_email">
        <p class="ErrorMsg" *ngIf="!new_password?.valid && (new_password?.dirty || new_password?.touched)" translate>
          errors.req_error
        </p>
        <p *ngIf="new_password?.errors?.['pattern']" class="ErrorMsg" translate>
          errors.alph_8error </p>

      </div>
      <div class="form-group">
        <p><label translate>input.titles.confirm_password</label></p>
        <input type="password" formControlName="confirm_new_password"
          placeholder="{{'input.titles.confirm_password'|translate}}" name="user_email" id="user_email">
        <p class="ErrorMsg" *ngIf="!confirm_new_password?.valid &&
    (confirm_new_password?.dirty || confirm_new_password?.touched)
  " translate>
          errors.req_error
        </p>
        <p *ngIf="confirm_new_password?.errors?.['pattern']" class="ErrorMsg" translate>
          errors.alph_8error </p>
        <p *ngIf="resetPassword.hasError('ConfirmedValidator')" class="ErrorMsg" translate>
          errors.error_confirm
        </p>
        <div class="d-flex justify-content-start">
          <re-captcha  class="captcha" style="transform: scale(0.7); -webkit-transform: scale(0.7); transform-origin: 0 0; -webkit-transform-origin: 0 0;"  (resolved)="checkCaptcha($event)" [siteKey]="siteKey" formControlName="captcha"></re-captcha>
        </div>
      </div>
      <div class="form-group" (mouseover)="check()">
        <button type="submit" translate>buttons.reset</button>
      </div>
    </form>
    <div class="footer">
      <span class="extra-line">
        <a routerLink="/register" translate>links.link_register </a>
      </span>

    </div>
  </div>


</section>
<app-footer></app-footer>
