<div>
  <div class="profile resposive">
    <div class="profile-header">
      <div class="profile-info">
        <div class="profile-img">
          <h4 translate> titles.update_Pass </h4>
        </div>
        <div class="actions">
          <div class="about">
            <form [formGroup]="formUpdatePassword" (ngSubmit)="changePassword()">
              <div class="form-outline">
                <label class="form-label" translate> input.titles.old_pass </label>
                <input type="text" formControlName="old_password" class="form-control form-control-lg" />
                <p class="ErrorMsg" *ngIf="
               !old_password?.valid &&
               (old_password?.dirty || old_password?.touched)
             " translate>
                  errors.req_error
                </p>
              </div>
              <div class="form-outline">
                <label class="form-label" translate> input.titles.new_pass </label>

                <input type="password" formControlName="new_password" class="form-control form-control-lg" />

                <!--pwd errors-->
                <p class="ErrorMsg" *ngIf="!new_password?.valid && (new_password?.dirty || new_password?.touched)"
                  translate>
                  errors.req_error
                </p>
                <p *ngIf="new_password?.errors?.['pattern']" class="ErrorMsg" translate>
                  errors.alph_8error </p>

                <!------------>
              </div>
              <div class="form-outline">
                <label class="form-label" translate>input.titles.confirm_password</label>

                <input type="password" formControlName="confirm_new_password" class="form-control form-control-lg" />
                <p class="ErrorMsg" *ngIf="!confirm_new_password?.valid &&
             (confirm_new_password?.dirty || confirm_new_password?.touched)
           " translate>
                  errors.req_error
                </p>
                <p *ngIf="confirm_new_password?.errors?.['pattern']" class="ErrorMsg" translate>
                  errors.alph_8error </p>
                <p *ngIf="formUpdatePassword.hasError('ConfirmedValidator')" class="ErrorMsg" translate>
                  errors.error_confirm
                </p>
              </div>
              <div class="d-flex justify-content-center">
                <button class="bn30" translate>buttons.change</button>

              </div>
            </form>
            
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
