@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


/**********/
h4 {
  margin-top: 20px;
  text-transform: uppercase;
}

.profile {
  background: white;
  height: 80vh;
  padding: 30px;
  overflow: hidden;
margin-right: auto;
margin-left: auto;
  display: flex;
  flex-direction: column;
}

.profile .profile-header {
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  display: flex;
  flex: 1;
  padding: 30px;
  flex-direction: column;
  border: 60px solid #333;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 15% 0 15%;
  box-shadow: 3px 5px 7px 3px #777;
}

.profile .profile-header .profile-info {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-self: space-around;
  flex-direction: column;
}

.profile .profile-header .profile-info .profile-img {
  justify-content: center;
  align-self: center;



}

.profile .profile-header .profile-info .profile-img img {
  border: 3px solid #fff;
  box-shadow: 0px 4px 4px 5px #888;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: -50px;
}

.profile .profile-header .profile-info .profile-img .status {
  background: #eee;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: flex;
  position: relative;
  top: -60px;
  right: -195px;
  border: 3px solid white;
}

.profile .profile-header .profile-info .profile-img .status.active {
  background: green;
}

.profile .profile-header .profile-info .profile-username {
  justify-content: center;
  align-self: center;
  font-size: 35px;
  letter-spacing: 3px;
  color: white;
}

.profile .profile-header .profile-info .profile-skill {
  justify-content: center;
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  color: #efefef;
  margin-top: -30px;
}

.profile .profile-header .actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile .profile-header .actions button {
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  border-radius: 30px;
  background: #fff;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0;
}

.resposive {
  width: 30vw;
  min-width: 500px;
}

@media only screen and (max-width: 800px) {
  .resposive {
    width: 100vw;
  }
}


.form-control{

  border: 2px solid #9b59b6 !important;


  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;

  margin: 10px 0px;
  width: 100%;
  background-color: #f6f6f6;

  border: 2px solid #9b59b6;
  outline: 0;
  box-shadow: none;

  padding: 10px 5px;
  background-color: #f6f6f6;}
